<html>
	<head></head>
	<body>
		<p style="width: 100%; text-align: left; background: #0187bb">&nbsp;&nbsp;<img src="http://www.askme.pro/images/logo.png" alt="askme.pro"></p>
		<p>askme.pro - Wysyłaj i odbieraj anonimowe pytania aby dowiedzieć się, co inni myślą o Tobie!</p>
		<hr>
		<b>Witaj <%=username%>,</b>
		<p>Ktoś podarował ci gifta na askme.pro. Możesz go zobaczyć odwiedzając ten <a href="http://www.askme.pro/<%=username%>#gifts">link</a>.</p>
		<p><b>Pozdrawiamy,</b></p>
		<p><b><a href="http://www.askme.pro">www.askme.pro</a></b></p>
	</body>
</html>