<html>
	<head></head>
	<body>
		<p style="width: 100%; text-align: left; background: #0187bb">&nbsp;&nbsp;<img src="http://www.myask.co/images/logo.png" alt="myask.co"></p>
		<p>myask.co - Wysyłaj i odbieraj anonimowe pytania aby dowiedzieć się, co inni myślą o Tobie!</p>
		<hr>
		<b>Witaj <%=username%>,</b>
		<p>Ktoś podarował ci gifta na myask.co. Możesz go zobaczyć odwiedzając ten <a href="http://www.myask.co/<%=username%>#gifts">link</a>.</p>
		<p><b>Pozdrawiamy,</b></p>
		<p><b><a href="http://www.myask.co">www.myask.co</a></b></p>
	</body>
</html>