html,
body {
  height: 100%;
}
/*common classes*/
.box-shadow {
   /* -webkit-box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);*/
}
.no-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.fade-carousel {position: relative; min-height: 483px;}
.fade-carousel img {display: none; position: absolute; left: 0; top: 0; max-width: 100%;}
.fade-carousel img.active {display: block;}
.single-form-panel {max-width: 600px; margin: 0 auto;}
.center-form-block {margin:0 auto; float: none;}
.form-2-cols .help-block {margin-top: 0; margin-bottom: 0;}
.form-2-cols .form-group {min-height: 41px;}
.add-container-top {max-width: 740px; margin: 0 auto; margin-bottom: 5px;}
.add-container-left {text-align: right;}
.captcha-image-container {text-align: center; margin-bottom: 8px;  border: 1px solid #ccc;}
.btn-info-popover {cursor: pointer; margin-left: 5px;}
.info-popup-content {display: none;}
body .popover {max-width: 100%;}

#main-navbar {
    background: #0187bb !important;
    border-width: 0;
    margin-bottom: 0;
}

.navbar-default {
    background-color: none;
    border-color: none;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color:#9cd106;
  color:#FFFFFF;
}

.notifications li.notify {
    cursor: pointer;
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
}

.notifications li.notify a {
    display: block;
    width: 45px;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.notifications li.notify a:hover {
    color: #fff;
}

.notifications .notify span {

}

.navbar-nav {margin: 0;}
.navbar-nav > li#navbar-logo {width: 135px; float: left; padding-left: 5px;}
.navbar-nav > li#navbar-logo a {padding-top: 5px; padding-bottom: 5px; padding: 5px 0 5px 0; float: left; display: inline-block;}

a {color: #464646;}
a:hover, a:focus {color: #464646;}
.navbar-default .navbar-nav > li > a  {color: #fff;} 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #84ca2a;
    border-color: #0187bb;
}

.navbar-default .navbar-nav > li.notify > a:hover,
.navbar-default .navbar-nav > li.notify > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #028DC3;
    color: #FFFFFF;
}


.inbox-count-container {display: none}
.inbox-count-container span {color: #ff0000;}

#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -105px;
  /* Pad bottom by footer height */
  padding: 0 0 105px;
  /*background: url("../images/home.jpg") no-repeat fixed center top;*/
}

.custom-bg#wrapper {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
}

.welcome#wrapper {
    min-height: inherit;
}

#content > .container {
    padding: 62px 12px 0;
}
#content > .container.profile {
    padding: 0 12px;
}
#footer {
    padding: 10px 0 20px 0;
    background-color: #000;
    color: #fff;
    min-height: 105px;
}
#footer a {
    color: #fff;
}
#footer .nav > li > a:hover, #footer .nav > li > a:focus {
    background-color: transparent;
    color: #fa6900;
}
#footer .navbar-left li {padding: 10px 0;}
#footer .center-block {text-align: center;}
#footer hr {border-top: 1px solid #0a0a0a; margin-top: 5px; margin-bottom: 5px;}

.canvas-left > .content .footer {
    margin-top: 12px;
}

.canvas-left > .content .footer .footer-menu {
    float: left;
}

.canvas-left > .content .footer .footer-menu li a {
    padding: 2px 5px;
    font-size: 1em;
}

.canvas-left > .content .footer .change-lang-container {
    float: left !important;
    clear: both;
    margin: 12px 0;
}

h1#index-h1 {
    color: #fff;
    font-size: 36px;
    text-shadow: 2px 2px 2px #000;
    margin-top: 0;
}

.panel-heading .add-wrapper-top {
    margin-left: -11px;
}

.tab-content .well {margin-top: 10px;}

/*file upload*/
.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

#ajax-alert-container {
    position: relative;
    width: 100%;
}
#ajax-alert {
    width: 100%;
    display: none;
}
.progress-container {
    display: none;
}

#user-avatar {max-width: 300px; width: 100%;}

#footer .dropdown-menu a {
    color: #000;
}

.btn.loading {
    display: none;
    cursor: default;
    background-image: url('../images/wait.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn.loading.right {
    margin-left: 10px;
}

#bgs-container .bg-button {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 12px;
}


.user-avatar-wrapper img {
    max-width: 100%;
}

.user-avatar-wrapper img.user-avatar.small {
    max-width: 70px;
}

.user-avatar-wrapper img.user-avatar.xsmall {
    max-width: 40px;
}

.profile-info-wrapper {
    position: relative;
}

.profile-info-wrapper .profile-sticker {
    position: absolute;
    top: -6px;
    right: -8px;
    z-index: 2;
}

.profile-info-wrapper .user-avatar-wrapper, .media .user-avatar-wrapper {
    margin-bottom: 12px;
}

.profile-info-wrapper hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.profile-info-wrapper .progress {
    margin-bottom: 0;
}

#profile-menu {
    border-bottom: 0;
}

ul#profile-menu li a {
    background-color: #d3d3d3;
}

ul#profile-menu li.active a {
    background-color: #fff;
}

#profile-top {
    padding-top: 12px;
    padding-bottom: 12px;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#profile-buttons-container {
    width: 100%;
}

#profile-buttons-container a {
    margin-right: 5px;
   /* -webkit-box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3); */
}

#profile-buttons-container .btn-block-user,
#profile-buttons-container .btn-unblock-user {
    margin-right: 0;
}

#profile-buttons-container .btn-unblock-user {
    background-color: #7FBF4D;
    border-color: #7FBF4D;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #4C9021;
}

#profile-buttons-container .btn-block-user {
    color: #fff;
    background-color: #be0707;
    border-color: #c10505; 
    text-shadow: 0 -1px 0 #AF0505;
}

#profile-stats-wrapper a.btn {
    background-color: #fff;
}


#profile-stats-wrapper a.btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #0083b7;
}

#profile-stats-wrapper a.btn.active strong {
    color: #333;
}

#profile-stats-container a {
    border: 0;
    border-left: 0;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#profile-stats-container a:first-child {
    border-left: 0;
}

#profile-stats-container a img {
    vertical-align: baseline;
    margin-right: 8px;
}

#profile-stats-container a span {
    font-size: 1.2em;
    display: block;
}

#profile-stats-container a strong {
    font-size: 1.6em;
    color: #0084B4;
}

.no-left-border {
    border-left: 0;
}

#top-bg-container img {
    max-width: 100%;
}

#question-form .pull-right .checkbox-inline {
    margin-right: 12px;
}

#question-form-container {
    position: relative;
    margin-bottom: 0;
}

#question-form-message-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: none;
}

#question-form-message-container h3 {
    margin-top: 0;
}

#profile-tabs-content .mt15 {
    margin-top: 12px;
}

#question-form-message-container .message {
    display: none;
}

#questions-container hr, #main-content-container hr  {
    margin-top: 10px;
}

#questions-container .row:last-child .col-md-12 hr,
#main-content-container .row:last-child .col-md-12 hr {
    display: none;
}

#questions-container .question {
    word-wrap: break-word;
    margin-bottom: 10px;
}

#questions-container .question .media {
    padding-bottom: 2px;
}

#questions-container .answer-form-wrapper {
    display: none;
}

.user-points-progress {
    position: relative;
}
.user-points-progress .progress-value {
    text-align: center;
    font-size: 0.9em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.user-points-progress .levelone {
    background-color: #1a82f7;
}
.user-points-progress .leveltwo {
    background-color: #f1a165;
}
.user-points-progress .levelthree {
    background-color: #f0a3a3;
}
.user-points-progress .levelfour {
    background-color: #a5df41;
}
.user-points-progress .levelfive {
    background-color: #e1e1e1;
}

.loading-container {
    position: relative;
    min-height: 100px;
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../images/wait.gif');
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    z-index: 2;
}

#answers-container .question .media-body {
    position: relative;
}

#answers-container .question > .media > .pull-left {
    margin-right: 0;
}

#answers-container .question .media-body .triangle {
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 10px 4px 0;
    border-color: transparent #eee transparent transparent;
    position: absolute;
    left: 6px;
    top: 20px;
}

#answers-container .question h4 {
    background: #eee;
    background: -moz-linear-gradient(top, #fff 0%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee));
    background: -webkit-linear-gradient(top, #fff 0%,#eee 100%);
    background: -o-linear-gradient(top, #fff 0%,#eee 100%);
    background: -ms-linear-gradient(top, #fff 0%,#eee 100%);
    background: linear-gradient(to bottom, #fff 0%,#eee 100%);
    border: 1px solid #eee;
    border-radius: 5px;
    color: #464646;
    font-size: 12px;
    line-height: 1.3em;
    padding: 10px;
    word-wrap: break-word;
    margin-top: 0;
    font-weight: bold;
}

#answers-container .question h4 small {
    font-size: 12px;
}

#answers-container .question h4 small a {
    color: #999;
}

#answers-container .question .panel {
    border: 0;
    margin-bottom: 0;
}

#answers-container > .row:last-child > .col-md-12 hr {
    display: none;
}

#answers-container > .row:last-child  {
    margin-bottom: 12px;
}

.more-container {
    display: none;
}

#yt-modal {
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin: 0 auto;
    display: none;
}

.video-container.visible {
    display: block;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.question-container {
    padding-top: 12px;
    margin-bottom: 12px;
    position: relative;
}

.panel.add-container-answer {
    margin-bottom: 12px;
}

.question-container .settings {
    position: absolute;
    right: 12px;
    top: 8px;
}

.question-container .media-wrapper {
    margin: 0 auto;
    max-width: 640px;
}

.question-container .answer .media-wrapper {
    margin: 0 -12px 12px -12px;
    max-width: none;
}

.question-container .likes-wrapper .btn-like .fa {
    display: none;
}

.question-container .btn-like.like-button .fa.like {
    display: inline-block;
}

.question-container .btn-like.dislike-button .fa.liked {
    display: inline-block;
}

.question-container div.answer {
    padding-bottom: 10px;
}

.question-container.panel-default > .panel-heading {
    background: #fff;
}


.question-container.panel-default > .panel-heading .text-muted a {
    color: #b3b3b3;
}

.question-container.panel-default > .panel-heading .text-muted a:hover {
    color: #333;
}

#likes-modal .modal-dialog {
    max-height: 90%;
}

#likes-modal .modal-content {
    height: 100%;
}

.question-likes-wrapper {
    max-height: 90%;
    overflow: auto;
}
.question-like-container hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.question-like-container .media .user-avatar-wrapper {
    margin-bottom: 5px;
}

.question-like-container .media .media-body {
    padding-top: 10px;
}

.question-likes-wrapper .row:last-child hr {
    display: none;
}

.question-container .comments-wrapper {
    display: none;
}

.question-container .comments-wrapper .btn-prev {
    display: none;
    padding-top: 12px;
    background: #f5f5f5;
}

.question-container .comments-wrapper .form-wrapper {
    background: #fff;
    padding: 12px;
}

.comments-wrapper .toggle-anonymous, .comments-wrapper .submit {
    cursor: pointer;
}

.comments-wrapper .toggle-anonymous .fa-eye-slash {
    display: none;
}

.comments-wrapper .toggle-anonymous.anonymous .fa-eye-slash {
    display: inline-block;
}

.comments-wrapper .toggle-anonymous.anonymous .fa-eye {
    display: none;
}

.question-comment-container {
    font-size: 0.9em;
    position: relative;
    margin-bottom: 0;
    background: #f5f5f5;
}

.question-comment-container .panel-body {
    padding-top: 0;
}

.question-comment-container .panel-body:first-of-type {
    padding-top: 12px;
}

.question-comment-container .panel-body p {
    margin: 0 0 0 2px;
}

.comments-container.loading-container {
    min-height: 53px;
}

.no-touch .question-comment-container .close {
    display: none;
}

.no-touch .question-comment-container:hover .close {
    display: inline-block;
}

.question-comment-container .close {
    position: absolute;
    right: 12px;
    top: 5px;
    font-size: 110%;
}

.profile-gifts-wrapper .gift-container {
    padding: 10px;
    text-align: center;
}

.profile-gifts-wrapper .gift-container .gift {
    width: 100%;
    text-align: center;
    min-height: 100px;
}

.no-touch .profile-gifts-wrapper .gift-container .btn-group{
    opacity: 0;
    visibility: hidden;
}

.no-touch .profile-gifts-wrapper .gift-container .message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
}

.no-touch .profile-gifts-wrapper .gift-container:hover .btn-group {
    opacity: 1;
    visibility: visible;
}

.profile-gifts-wrapper .gift-container .btn-group {
    margin-top: 5px;
}

.profile-gifts-wrapper .gift-container .btn-group .dropdown-menu {
    text-align: left;
    min-width: 100px;
}

.profile-gifts-wrapper .gift-container:hover {
    background-color: #428bca;
}

.profile-gifts-wrapper .gift-container img {
    max-width: 80%;
    cursor: pointer;
}

.profile-gifts-wrapper .disabled .gift-container:hover img {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.profile-gifts-wrapper .disabled  .gift-container:hover {
    background-color: #999999;
}

#profile-top {
    position: relative;
    z-index: 3;
}

#profile-top .gift {
    display: none;
    position: absolute;
}

.no-touch #profile-top.gifts-visible .gift {
    display: block;
}

.small#profile-top .col-md-3 {
    width: 8%;
    padding-right: 0;
}

.small#profile-top .col-md-9 {
    width: 92%;
}

.small#profile-top .user-avatar-wrapper {
    margin-bottom: 0;
}

.small#profile-top .gift {
    display: none;
}

.small#profile-top #profile-buttons-container,
.small#profile-top .user-points-progress {
    display: none;
}


#profile-buttons-container {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 12px 0 12px;
}

#profile-buttons-container-small {
    display: none;
}

#profile-tabs-content .panel-footer-main,
#main-content-container .panel-footer-main {
    margin-bottom: -12px;
}

#profile-tabs-content .panel-footer-main .pagination,
#main-content-container .panel-footer-main .pagination,
#main-content-footer .pagination {
    margin: 0;
    margin-bottom: 0;
}

#profile-gifts-container .gift-container .gift {
    height: 100px;
    margin-bottom: 10px;
}

#profile-gifts-container .gift-container .gift img {
    max-width: 100%;
}

.list-elem-container {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    position: relative;
}

.list-elem-container .list-elem{
    margin-bottom: 10px;
}

.list-elem-container .close {
    position: absolute;
    right: 0;
    top: 0;
}

.list-elem-container .caption {
    background: rgba(255, 255, 255, 0.6);
    position: relative;
}

.no-touch .list-elem-container .close {
    display: none;
}

.no-touch .list-elem-container:hover .close {
    display: inline-block;
}

#profile-stats-container .btn.active {
    border-bottom: 0;
    background-color: #fff;
}

.photo-container {
    position: relative;
}

.photo-container .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}

.photo-container:hover .overlay {
    display: block;
}

.photo-container .overlay .caption {
    position: absolute;
    left: 12px;
    bottom: 12px;
    color: #fff;
    text-shadow: 1px 1px 1px #080707;
    font-weight: bold;
}

.photo-container .close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
}

/*INDEX*/

#user-info-wrapper .user-avatar {
    max-width: 80%;
}


#activity-menu-wrapper .nav-justified > li {
    display: table-cell;
    width: 1%;
}
/*EOF INDEX*/


.question-container .question .triangle.right {
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 0 8px 10px;
    border-color: transparent transparent transparent #eee;
    position: absolute;
    right: 6px;
    top: 22px;
}

.btn-newest-container {
    padding-bottom: 12px;
    display: none;
}

.users-online-wrapper {
    margin-bottom: 12px;
}

.users-online-wrapper .users-online-container a img {
    width: 30px; 
    margin: 5px;
    border: 2px solid #fff;
}

.users-online-wrapper h5 {
    color: #fff;
    text-shadow: 1px 1px 2px #000000;
}

#main-navbar > .container {
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
}

#main-navbar > .container .popover {
    left: 12px  !important;
}

#main-navbar > .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
}

#main-navbar .popover .popover-title {
    font-weight: bold;
    padding: 6px 8px;
    font-size: 12px;
}

#main-navbar .popover .popover-content {
    padding: 6px 0 0 0;
    font-size: 12px;
    min-width: 300px;
    max-width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

#main-navbar .popover-container {
    position: relative;
    width: 100%;
    height: 100%;
}

[data-container="likes"]#main-navbar .popover .popover-content {
    width: 320px;
}

[data-container="questions"]#main-navbar .popover .popover-content {
    width: 370px;
}

[data-container="feed"]#main-navbar .popover .popover-content {
    width: 340px;
}

#main-navbar .popover .popover-content .list-group {
    margin-top: -7px;
    margin-bottom: 0;
}

#main-navbar .popover .popover-content .list-group .list-group-item {
    border: 0;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
}

#main-navbar .popover .popover-content .list-group .list-group-item a:hover {
    text-decoration: none;
}

#main-navbar .popover .popover-content .list-group .list-group-item:hover {
    background-color: #f5f5f5;
}

#main-navbar .popover .popover-content .list-group .list-group-item .user-avatar-wrapper {
    margin-bottom: 2px;
}

#main-navbar .popover .popover-content .list-group .list-group-item .user-avatar-wrapper img {
    width: 40px;
    border: 0;
}

#main-navbar .popover .popover-content .list-group .list-group-item:last-child {
    border-bottom: 0;
    text-align: center;
    background-color: #f5f5f5;
}

#main-navbar .popover .popover-content .list-group .list-group-item:last-child {
    border-bottom: 0;

}

#main-navbar .popover .popover-content .list-group .list-group-item .media-body {
    padding-top: 4px;
}

#main-navbar .popover .see-all-container {
    text-align: center;
    background-color: #f5f5f5;
    padding: 0;
}

#main-navbar .popover .see-all-container a {
    color: #1CC4E7;
    display: block;
    padding: 6px 8px;
}

#top-notifications-feed-container .nav > li > a {
    padding: 5px;
}

.no-notifications, .no-live-search-results {
    padding: 5px;
    color: #999;
}

[data-container="feed"]#main-navbar .popover .popover-content .list-group {
    margin-top: 0;
}

#notifications-container .tab-content,
#main-content-container .tab-content {
    padding-top: 12px;
}

#notifications-container .tab-content .user-avatar-wrapper {
    max-width: 60px;
    margin-bottom: 4px;
}

#notifications-container .tab-content .user-avatar-wrapper img {
    border: 0;
}

#notifications-container .tab-content .media-body {
    padding-top: 8px;
}

/**
 * MAIN SEARCH FORM
 */

.main-search-form-elems {
    position: relative;
}

.main-search-form-elems .q-submit {
    position: absolute;
    right: 12px;
    top: 8px;
    color: #028fc5;
    text-shadow: 0px -1px 1px #00364b;
    cursor: pointer;
}

.q {
    background-color: #007BAB;
    border: 0;
    border-radius: 12px;
    color: #fff;
    text-align: left;
    padding-right: 30px;
    padding-left: 12px;
    -webkit-box-shadow: inset 1px 1px 1px 0px #00364b;
    box-shadow: inset 1px 1px 1px 0px #00364b;
}

.q:focus {
    color: #00364b;
}

.main-search-form-elems ::-webkit-input-placeholder {
   color: #028fc5;
}

.main-search-form-elems :-moz-placeholder {
   color: #028fc5;  
}

.main-search-form-elems ::-moz-placeholder {
   color: #028fc5;  
}

.main-search-form-elems :-ms-input-placeholder {
   color: #028fc5;  
}

.main-search-form-elems .popover {
    width: 304px;
    max-width: none;
}

.main-search-form-elems .popover .arrow {
    left: 10%;
}

.live-search-results-container .live-search-results-item {
    padding: 0;
}

.live-search-results-container .live-search-results-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 65px;
    position: relative;
    min-height: 70px;
}

.live-search-results-container .live-search-results-item img {
    width: 50px;
    position: absolute;
    left: 12px;
    top: 10px;
}

.live-search-results-container .live-search-results-item span {
    margin-left: 10px;
    display: block;
    text-align: left;
}

.media .top-20-index {
    font-size: 2.1em;
    display: block;
    height: 70px;
    line-height: 2.1em;
    margin-right: 20px;
}

.question-of-the-day > .row {
    background-color: #e9e9e9;
    padding-top: 10px;
    margin-bottom: 10px;
}

.question-of-the-day button.remove {
    display: none;
}

.share-box a {
    margin: 0 10px 0 10px;
}

.list-elem-container.user-container {
    height: 220px;
}

#online-container .list-elem-container.user-container {
    height: auto;
}

#profile-videos-wrapper .panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

#profile-videos-container .list-elem-container {
    margin-top: 0;
    margin-bottom: 0;
}

#profile-videos-container .list-elem-container .close {
    top: 10px;
    right: 12px;
}

.short-text {
    display: inline;
}

.full-text {
    display: none;
}

.add-container-top ins, .add-container.content-horizontal ins {
    height: 60px;
    width: 100%;
}

.add-container.content-horizontal {
    margin-bottom: 12px;
}

.add-container-answer ins {
    max-width: 100%;
    width: 336px;
    height: 250px;
}

h1, .h1 {
    font-size: 22px;
}

#profile-top-full{
    width: 100%;
    margin-top: 50px;
}

#profile-top-full .bg-container {
    background-color: #0188BD;
    background-position: center center;
    background-attachment:scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#profile-top-full .bg-container > .container,
#profile-top,
#profile-top .full-height {
    height: 100%;
}

#profile-top .full-height {
    position: relative;
}

#profile-top-left .profile-avatar-wrapper {
    width: 70%;
    position: absolute;
    left: 50%;
    bottom: -140px;
    margin-left: -35%;
}

.profile-avatar-wrapper .profile-sticker {
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 2;
}

.profile-avatar-wrapper .user-avatar {
    border: 4px solid #fff;
}

.menu-container {
    width: 100%;
    height: 60px;
    background: #fff;
    border-top: 0;
}

.profile-info-wrapper .panel-body {
    padding-top: 140px;
} 

.profile-info-footer .stats-contaier, .profile-info-footer .img-container {
    display: inline-block; float: left; text-align: center;
}

.profile-info-footer .data-row-1, .profile-info-footer .data-row-2 {
    clear: both;
    float: left;
    width: 100%;
}

.profile-info-footer .data-row-1 .stats-contaier {
    width: 50%;
}

.profile-info-footer .data-row-1 .stats-contaier:first-child {
    width: 40%;
}

.profile-info-footer .data-row-1 .img-container {
    width: 10%;
}

.profile-info-footer .data-row-2 {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e4e4e4;
}

.profile-info-footer .data-row-2 .stats-contaier {
    width: 33.3333333%;
}

.profile-info-wrapper#user-info-wrapper .panel-body {
    padding-top: 0;
}

.profile-info-wrapper#user-info-wrapper .profile-avatar-wrapper {
    margin-left: -12px;
    margin-right: -12px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    position: relative;
    margin-bottom: 50px;
}

.profile-info-wrapper#user-info-wrapper .profile-avatar-wrapper .user-avatar {
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: -45px;
    margin-left: -25%;
}
 

#question-form-wrapper {
    display: none;
}

#online-users-wrapper .panel-body {
    padding: 4px;
}

#profile-info-container .profile-avatar-wrapper {
    width: 16%;
    position: absolute;
    margin-left: -8%;
    bottom: 0;
    left: 50%;
}

@media (min-width: 768px) {
    .navbar-nav > li > a.btn {
        padding-top: 0;
        padding-bottom: 0;
        margin: 12px 0 12px 0;
    }
    #main-search-form-wrapper {
        margin-top: 2px;
    }
    .short-text {
        display: none;
    }

    .full-text {
        display: inline;
    }
    .add-container-top ins, .add-container.content-horizontal ins {
        height: 90px;
    }
    .add-container-answer ins {
        height: 280px;
    }
}

@media (min-width: 992px) { 
    .profile-gifts-modal .modal-dialog {
        width: 900px;    
    }
    .video-wrapper {
        max-width: 60%;
    }
    #main-search-query {
        width: 250px;
    }   
}

@media (min-width: 1200px) { 
    
}

@media (max-width: 1199px) { 
    .add-container-left, .add-container-right {
        margin-left: -12px;
    }
}

@media (max-width: 991px) { 
    .profile-info-wrapper .progress {
        margin-bottom: 12px;
    }
    #profile-top .col-md-3 {
        width: 20%;
        float: left;
        padding-right: 0;
    }   
    #profile-buttons-container-small {
        display: inline-block;
        position: absolute;
        right: 12px;
        bottom: 12px;
    }
    #profile-buttons-container-small > .dropdown-menu {
        left: -120px;    
    }
    #profile-top-full .bg-container {
        height: 300px;
    }
    #q {
        width: 120px;
    }
    .profile-name {
        color: #fff;
        text-shadow: 2px 2px 2px #0A0A0A;
    }
    .profile-name strong {
        font-size: 1.4em;
    }
    #profile-buttons-container .btn.pull-right {
        margin-right: 60px;
    }
}

@media (max-width: 767px) { 
    #profile-stats-container a {
        font-size: 12px;
        padding: 6px 4px;
    }
    #profile-top h1 {
        font-size: 28px;
    }
    .nav#profile-menu > li > a {
        padding: 10px 10px;
    }
    .question-container .like-button {
        opacity: 1;
    }
    #profile-top-full .bg-container {
        height: 200px;
    }
    #q {
        width: 100%;
    }
}

@media (max-width: 479px) { 
    #profile-stats-container a {
        font-size: 12px;
    }
    #profile-stats-container a span {
        display: block;
    }
    .notifications li.notify {
        width: 40px;
    }
    .navbar-nav > li#navbar-logo {
        width: auto;
    }
    .profile-info-wrapper .profile-sticker {
        display: none;
    }
    #profile-info-container .profile-avatar-wrapper {
        bottom: 40px;
    }
    #profile-stats-container a span {
        font-size: 0.9em;
    }
    #profile-stats-container a strong {
        font-size: 1.2em;
    }
}

/* ----------------------------- bootstrap.css --------- */

body {
    color: #333333;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.btn-success {
    background-color: #7FBF4D;
    border-color: #4CAE4C;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #4C9021;
}

/* ---------------------------------- Common.css  -------------------------------------------------------- */

a {
    color: #464646;
    outline: none !important;
}

ul#profile-menu li a {
    background-color: #F5F5F5;
}

#profile-stats-wrapper a.btn {
    font-size: 11px;
    text-transform: uppercase;
    height: 59px;
    border-bottom: 3px solid #fff;
}

#profile-stats-container a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: none;
    border-left: 0;
    border-radius: 0;
    border-right: 0 none;
    border-style: none;
    border-width: 0;
    white-space: normal;
}

#profile-stats-container a { border-color:#e8e8e8;}

#wrapper {
    background: #f5f5f5;
}

.profile#wrapper {
    background: #f5f5f5;
}

#footer {
    background-color: #FFFFFF;
    color: #000000;
    min-height: 105px;
    padding: 10px 0 20px;
}

#footer hr {
    border-top: 1px solid #CCCCCC;
    margin-bottom: 5px;
    margin-top: 5px;
}

#footer a {
    color: #357EBD;
}

#footer a {
    color: #357EBD;
}

.question-container .stream-like-container h5,
.question-container .stream-comment-container h5 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}

.question-container.stream-like-wrapper,
.question-container.stream-comment-wrapper {
    padding-top: 0;
}

.stream-action-descr-bottom a {
    color: #428bca;
    font-size: 13px;
}

.stream-like-wrapper,
.stream-comment-wrapper {
    display: none;
}

.stream-like-wrapper.stream-likes-index-0,
.stream-comment-wrapper.stream-comments-index-0 {
    display: block;
}

.sep-panels-container#main-content-container > .panel-footer-main,
.sep-panels-container#profile-tabs-content > .panel-footer-main {
    margin-bottom: 12px;
}

#profile-btns li {
    margin-bottom: 10px;
}
#profile-btns li a {
    padding-left: 10px;
}
#profile-btns li .fa {
    color: #b3b3b3;
}
#profile-btns li.active .fa {
    color: #2dcb73;
}
#profile-btns li .fa-angle-right {
    display: none;
}
#profile-btns li.active .fa-angle-left {
    display: none;
}
#profile-btns li.active .fa-angle-right {
    display: inline-block;
}
.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*off-canvas*/

#main-navbar .toggle-canvas-right {
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.6em;
    color: #fff;
}

.canvas-left, .canvas-right {
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 5;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.canvas-right {
    float: right;
    right: -250px;
    width: 250px; 
    -webkit-transition: right 0.2s linear;
    -moz-transition: right 0.2 linear;
    -o-transition: right 0.2s linear;
    transition: right 0.2s linear;
}

.canvas-left {
    float: left;
    left: -300px;
    width: 300px;
    -webkit-transition: left 0.2s linear;
    -moz-transition: left 0.2 linear;
    -o-transition: left 0.2s linear;
    transition: left 0.2s linear;
}

.canvas-right.visible {
    right: 0px;
}

.off-canvas-container {
    -webkit-transition: margin-left 0.2s linear;
    -moz-transition: margin-left 0.2s linear;
    -o-transition: margin-left 0.2s linear;
    transition: margin-left 0.2s linear;
}

.canvas-left > .content, .canvas-right > .content {
    padding: 62px 12px 12px 12px;
}

@media (min-width: 1100px) {
    .container {
        width: 996px;
    }
}

@media (min-width: 1416px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 991px) {
    body.off-canvas {
        overflow: hidden;
    }
    .canvas-right  {
        width: 300px;
        right: -300px;
    }
    #wrapper {
        position: relative;
        left: 0px;
        -webkit-transition: left 0.2s linear;
        -moz-transition: left 0.2s linear;
        -o-transition: left 0.2s linear;
        transition: left 0.2s linear;
    }
    .off-canvas.right #wrapper {
        left: -300px;
    }

    #wrapper .canvas-overlay {
        display: none;
    }

    body.off-canvas #wrapper .canvas-overlay {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
    }
}

@media (max-width: 767px) {

    .navbar-nav > li#navbar-logo {
        width: auto;
        min-width: 200px;
    }
    .navbar-nav > li#navbar-logo a.toggle-canvas-left {
        width: 50px;
        height: 50px;
        line-height: 50px;
        padding-top: 0;
        padding-bottom: 0;
        padding: 0;
        font-size: 1.6em;
        color: #fff;
        text-align: left;
        float: left;
        display: block;
    }
    .canvas-left.visible {
        left: 0px;
    }
    .off-canvas.left #wrapper {
        left: 300px;
    }
}

@media (max-width: 479px) { 
    .navbar-nav > li#navbar-logo {
        width: auto;
        min-width: 60px;
    }
    .logged-in .navbar-nav > li#navbar-logo .logo {
        display: none;
    }
}

#main-navbar .btn-avatar {
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-navbar .user-avatar {
    width: 30px;
}

/*canvas left content*/

.canvas-left .content {
    font-size: 0.9em;
}

.canvas-left .main-search-form-elems .popover {
    width: 274px;
}

.canvas-left .main-search-form-elems .popover .popover-content {
    padding: 6px;
}

.canvas-left .user-avatar {
    width: 30px;
    margin-right: 6px;
}

.canvas-left .main-menu {
    margin-top: 12px;
}

.canvas-left .dropdown-menu.dropdown-menu {
    top: auto;
}