html,
body {
  height: 100%;
}
/*common classes*/
.box-shadow {
    -webkit-box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);
}
.no-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.fade-carousel {position: relative; min-height: 360px;}
.fade-carousel img {display: none; position: absolute; left: 0; top: 0; max-width: 100%;}
.fade-carousel img.active {display: block;}
.single-form-panel {max-width: 600px; margin: 0 auto;}
.center-form-block {margin:0 auto; float: none;}
.form-2-cols .help-block {margin-top: 0; margin-bottom: 0;}
.form-2-cols .form-group {min-height: 41px;}
.add-container-top {max-width: 740px; margin: 0 auto; margin-top: -40px; margin-bottom: 5px;}
.add-container-left {text-align: right;}
.captcha-image-container {text-align: center; margin-bottom: 8px;  border: 1px solid #ccc;}
.btn-info-popover {cursor: pointer; margin-left: 5px;}
.info-popup-content {display: none;}
body .popover {max-width: 100%;}

#main-navbar {
	background: #252525 url('../images/menu_bg.png') repeat-x;
	border-bottom: 2px solid #1cc4e7;
	box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
}
.notifications li.notify {
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: center center;
	width: 50px;
	height: 50px;
	cursor: pointer;
	float: left;
	list-style: none;
}
.notifylikes{background-image:url(../images/heart.png); opacity:0.7;}
.notifyquestions{background-image:url(../images/question.png); opacity:0.7;}
.notifyanswers{background-image:url(../images/answer.png); opacity:0.7;}

.navbar-nav {margin: 0;}
.navbar-nav > li#navbar-logo {width: 140px; float: left;}
.navbar-nav > li#navbar-logo a {padding-top: 5px; padding-bottom: 5px;}

a {color: #464646;}
a:hover, a:focus {color: #464646;}
.navbar-default .navbar-nav > li > a  {color: #fff;} 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fa6900;
}

#inbox-count {display: none}
#inbox-count span {color: #ff0000;}

#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -105px;
  /* Pad bottom by footer height */
  padding: 0 0 105px;
  background: url("../images/home.jpg") no-repeat fixed center top;
}

.custom-bg#wrapper {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
}

#content > .container {
    padding: 100px 15px 0;
}
#footer {
	padding: 10px 0 20px 0;
	background-color: #000;
    color: #fff;
    min-height: 105px;
}
#footer a {
    color: #fff;
}
#footer .nav > li > a:hover, #footer .nav > li > a:focus {
    background-color: transparent;
    color: #fa6900;
}
#footer .navbar-left li {padding: 10px 0;}
#footer .center-block {text-align: center;}
#footer hr {border-top: 1px solid #0a0a0a; margin-top: 5px; margin-bottom: 5px;}

h1#index-h1 {
    color: #fff;
    font-size: 36px;
    text-shadow: 2px 2px 2px #000;
    margin-top: 0;
}

.panel-heading .add-wrapper-top {
    margin-left: -11px;
}

.tab-content .well {margin-top: 10px;}

/*file upload*/
.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

#ajax-alert-container {
    position: relative;
    width: 100%;
}
#ajax-alert {
    width: 100%;
    display: none;
}
.progress-container {
    display: none;
}

#user-avatar {max-width: 300px; width: 100%;}

#footer .dropdown-menu a {
    color: #000;
}

.btn.loading {
    display: none;
    cursor: default;
    background-image: url('../images/wait.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn.loading.right {
    margin-left: 10px;
}

#bgs-container .bg-button {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}


.user-avatar-wrapper img {
    max-width: 100%;
    border: 4px solid #fff;
}

.user-avatar-wrapper img.user-avatar.small {
    border: 1px solid #fff;
    max-width: 70px;
}

.profile-info-wrapper {
    position: relative;
    padding-top: 0;
}

.profile-info-wrapper .profile-sticker {
    position: absolute;
    top: -6px;
    right: -8px;
}

.profile-info-wrapper .user-avatar-wrapper, .media .user-avatar-wrapper {
    margin-bottom: 15px;
}

.profile-info-wrapper hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.profile-info-wrapper .progress {
    margin-bottom: 0;
}

#profile-menu {
    border-bottom: 0;
}

ul#profile-menu li a {
    background-color: #d3d3d3;
}

ul#profile-menu li.active a {
    background-color: #fff;
}

#profile-info-container {
    position: relative;
}

#profile-info-container .well {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    margin-bottom: 15px;
    display: inline-block;
}

#profile-info-container h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#profile-info-container p {
    margin: 0 0 6px 0;
}

#profile-top {
    padding-top: 15px;
    padding-bottom: 15px;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#profile-buttons-container {
    width: 100%;
}

#profile-buttons-container a {
    margin-right: 5px;
    -webkit-box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);
}

#profile-buttons-container #block-user-btn {
    margin-right: 0;
}

#profile-stats-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
}

#profile-stats-wrapper a.btn {
    background-color: #eee;
}

#profile-stats-container a {
    border: 0;
    border-left: 1px solid #fff;
    border-radius: 0;
    white-space: normal;
}

#profile-stats-container a:first-child {
    border-left: 0;
}

#profile-stats-container a img {
    vertical-align: baseline;
    margin-right: 8px;
}

#profile-stats-container a strong {
    font-size: 1.4em;
}

.no-left-border {
    border-left: 0;
}

#top-bg-container img {
    max-width: 100%;
}

#question-form .pull-right .checkbox-inline{
    margin-right: 15px;
}

#question-form-container {
    position: relative;
    margin-bottom: 0;
}

#question-form-message-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: none;
}

#question-form-message-container h3 {
    margin-top: 0;
}

#profile-tabs-content .mt15 {
    margin-top: 15px;
}

#question-form-message-container .message {
    display: none;
}

#questions-container hr {
    margin-top: 10px;
}

#questions-container .row:last-child .col-md-12 hr {
    display: none;
}

#questions-container .question {
    word-wrap: break-word;
    margin-bottom: 10px;
}

#questions-container .question .media{
    padding-bottom: 2px;
}

#questions-container .answer-form-wrapper {
    display: none;
}

.user-points-progress {
    position: relative;
}
.user-points-progress .progress-value {
    text-align: center;
    font-size: 0.9em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.user-points-progress .levelone {
    background-color: #1a82f7;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0099FF), to(#1a82f7));
    background: -webkit-linear-gradient(top, #0099FF, #1a82f7);
    background: -moz-linear-gradient(top, #0099FF, #1a82f7);
    background: -ms-linear-gradient(top, #0099FF, #1a82f7);
    background: -o-linear-gradient(top, #0099FF, #1a82f7);
}
.user-points-progress .leveltwo {
    background-color: #f1a165;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -ms-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -o-linear-gradient(top, #f1a165, #f36d0a);
}
.user-points-progress .levelthree {
    background-color: #f0a3a3;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -ms-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -o-linear-gradient(top, #f0a3a3, #f42323);
}
.user-points-progress .levelfour {
    background-color: #a5df41;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
    background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
    background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
    background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
    background-image: -o-linear-gradient(top, #a5df41, #4ca916);
}
.user-points-progress .levelfive {
    background-color: #e1e1e1;
    background-image: -o-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);
    background-image: -moz-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);
    background-image: -webkit-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);
    background-image: -ms-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);
}

.loading-container {
    position: relative;
    min-height: 100px;
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../images/wait.gif');
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

#answers-container .question .media-body {
    padding-left: 15px;
    position: relative;
}

#answers-container .question .media-body .triangle {
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 10px 4px 0;
    border-color: transparent #bed0e9 transparent transparent;
    position: absolute;
    left: 6px;
    top: 20px;
}


#answers-container .question h4 {
    background: #e7f1fe;
    background: -moz-linear-gradient(top, #e7f1fe 0%, #c7defe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7f1fe), color-stop(100%,#c7defe));
    background: -webkit-linear-gradient(top, #e7f1fe 0%,#c7defe 100%);
    background: -o-linear-gradient(top, #e7f1fe 0%,#c7defe 100%);
    background: -ms-linear-gradient(top, #e7f1fe 0%,#c7defe 100%);
    background: linear-gradient(to bottom, #e7f1fe 0%,#c7defe 100%);
    border: 1px dashed #CCCCCC;
    border-radius: 5px;
    color: #3E454C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 1.1em;
    line-height: 1.3em;
    padding: 10px;
    border: 1px solid #BED0E9;
    word-wrap: break-word;
}

#answers-container .question .panel {
    border: 0;
    margin-bottom: 0;
}

.more-container {
    display: none;
}

#yt-modal {
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin: 0 auto;
    display: none;
}

.video-container.visible {
    display: block;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.question-container .media-wrapper {
    margin: 0 auto;
    max-width: 640px;
}

.question-container .like-button {
    opacity: 0;
}

.question-container .btn .glyphicon {
    display: none;
}

.question-container .btn.like-button .glyphicon-heart {
    display: inline-block;
}

.question-container .btn.dislike-button .glyphicon-heart-empty {
    display: inline-block;
}

.question-container:hover .like-button {
    opacity: 1;
}

.question-container .likes-wrapper .likes-container {
    display: none;
}

.question-container .likes-wrapper.visible .likes-container {
    display: inline;
}

#likes-modal .modal-dialog {
    max-height: 90%;
}

#likes-modal .modal-content {
    height: 100%;
}

.question-likes-wrapper {
    max-height: 90%;
    overflow: auto;
}
.question-like-container hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.question-like-container .media .user-avatar-wrapper {
    margin-bottom: 5px;
}

.question-like-container .media .media-body {
    padding-top: 10px;
}

.question-likes-wrapper .row:last-child hr {
    display: none;
}

@media (min-width: 768px) {
	.navbar-nav > li > a.btn {
		padding-top: 0;
		padding-bottom: 0;
		margin: 15px 0 15px 0;
	}
    
}

@media (min-width: 992px) { 
    #profile-info-container {
        min-height: 199px;
    }

    #profile-buttons-container {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 15px 0 15px;
    }
}

@media (min-width: 1200px) { 
    #profile-info-container {
        min-height: 240px;
    }
}

@media (max-width: 991px) { 
    .add-container-top {
        margin-left: -8px;
    }
    .profile-info-wrapper .progress {
        margin-bottom: 15px;
    }
    #profile-top .user-avatar-wrapper {
        width: 30%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
}

@media (max-width: 1199px) { 
    .add-container-left, .add-container-right {
        margin-left: -15px;
    }  
}

@media (max-width: 767px) { 
    #profile-stats-container a {
        font-size: 12px;
        padding: 6px 4px;
    }

    .nav#profile-menu > li > a {
        padding: 10px 10px;
    }

    .question-container .like-button {
        opacity: 1;
    }
}

@media (max-width: 479px) { 
    #profile-stats-container a {
        font-size: 12px;
    }
    #profile-stats-container a span {
        display: block;
    }
}
