html,
body {
  height: 100%;
}
/*common classes*/
.box-shadow {
    -webkit-box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);
}
.no-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.fade-carousel {position: relative; min-height: 360px;}
.fade-carousel img {display: none; position: absolute; left: 0; top: 0; max-width: 100%;}
.fade-carousel img.active {display: block;}
.single-form-panel {max-width: 600px; margin: 0 auto;}
.center-form-block {margin:0 auto; float: none;}
.form-2-cols .help-block {margin-top: 0; margin-bottom: 0;}
.form-2-cols .form-group {min-height: 41px;}
.add-container-top {max-width: 740px; margin: 0 auto; margin-top: -24px; margin-bottom: 5px;}
.add-container-left {text-align: right;}
.captcha-image-container {text-align: center; margin-bottom: 8px;  border: 1px solid #ccc;}
.btn-info-popover {cursor: pointer; margin-left: 5px;}
.info-popup-content {display: none;}
body .popover {max-width: 100%;}

#main-navbar {
	background: #252525 url('../images/menu_bg.png') repeat-x;
	box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color:#9cd106;
  color:#FFFFFF;
}

.notifications li.notify {
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: center center;
	width: 50px;
	height: 50px;
	cursor: pointer;
	float: left;
	list-style: none;
    position: relative;
}
.notifylikes{background-image:url(../images/heart.png);}
.notifyquestions{background-image:url(../images/question.png);}
.notifyanswers{background-image:url(../images/answer.png);}

.notifications .notify span {
    font-size: 10px;
    color: #fff;
    background: red;
    padding: 1px 3px;
    border-radius: 4px;
    position: absolute;
    left: 25px;
    top: 10px;
}

.navbar-nav {margin: 0;}
.navbar-nav > li#navbar-logo {width: 135px; float: left; padding-left: 5px;}
.navbar-nav > li#navbar-logo a {padding-top: 5px; padding-bottom: 5px; padding: 5px 0 5px 0;}

a {color: #464646;}
a:hover, a:focus {color: #464646;}
.navbar-default .navbar-nav > li > a  {color: #fff;} 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fa6900;
}

#inbox-count {display: none}
#inbox-count span {color: #ff0000;}

#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -105px;
  /* Pad bottom by footer height */
  padding: 0 0 105px;
  background: url("../images/home.jpg") no-repeat fixed center top;
}

.custom-bg#wrapper {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
}

#content > .container {
    padding: 82px 15px 0;
}
#footer {
	padding: 10px 0 20px 0;
	background-color: #000;
    color: #fff;
    min-height: 105px;
}
#footer a {
    color: #fff;
}
#footer .nav > li > a:hover, #footer .nav > li > a:focus {
    background-color: transparent;
    color: #fa6900;
}
#footer .navbar-left li {padding: 10px 0;}
#footer .center-block {text-align: center;}
#footer hr {border-top: 1px solid #0a0a0a; margin-top: 5px; margin-bottom: 5px;}

h1#index-h1 {
    color: #fff;
    font-size: 36px;
    text-shadow: 2px 2px 2px #000;
    margin-top: 0;
}

.panel-heading .add-wrapper-top {
    margin-left: -11px;
}

.tab-content .well {margin-top: 10px;}

/*file upload*/
.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

#ajax-alert-container {
    position: relative;
    width: 100%;
}
#ajax-alert {
    width: 100%;
    display: none;
}
.progress-container {
    display: none;
}

#user-avatar {max-width: 300px; width: 100%;}

#footer .dropdown-menu a {
    color: #000;
}

.btn.loading {
    display: none;
    cursor: default;
    background-image: url('../images/wait.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn.loading.right {
    margin-left: 10px;
}

#bgs-container .bg-button {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}


.user-avatar-wrapper img {
    max-width: 100%;
    border: 4px solid #fff;
}

.user-avatar-wrapper img.user-avatar.small {
    border: 1px solid #fff;
    max-width: 70px;
}

.user-avatar-wrapper img.user-avatar.xsmall {
    border: 1px solid #fff;
    max-width: 40px;
}

.profile-info-wrapper {
    position: relative;
    padding-top: 0;
}

.profile-info-wrapper .profile-sticker {
    position: absolute;
    top: -6px;
    right: -8px;
    z-index: 2;
}

.profile-info-wrapper .user-avatar-wrapper, .media .user-avatar-wrapper {
    margin-bottom: 15px;
}

.profile-info-wrapper hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.profile-info-wrapper .progress {
    margin-bottom: 0;
}

#profile-menu {
    border-bottom: 0;
}

ul#profile-menu li a {
    background-color: #d3d3d3;
}

ul#profile-menu li.active a {
    background-color: #fff;
}

#profile-info-container {
    position: relative;
}

#profile-info-container .well {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    margin-bottom: 15px;
    display: inline-block;
}

#profile-info-container h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#profile-info-container p {
    margin: 0 0 6px 0;
}

#profile-top {
    padding-top: 15px;
    padding-bottom: 15px;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#profile-buttons-container {
    width: 100%;
}

#profile-buttons-container a {
    margin-right: 5px;
    -webkit-box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.3);
}

#profile-buttons-container .btn-block-user,
#profile-buttons-container .btn-unblock-user {
    margin-right: 0;
}

#profile-buttons-container .btn-follow,
#profile-buttons-container .btn-unblock-user {
    background-color: #7FBF4D;
    border-color: #4CAE4C;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #4C9021;
}

#profile-buttons-container .btn-unfollow,
#profile-buttons-container .btn-block-user {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;    
}

#profile-stats-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
}

#profile-stats-wrapper a.btn {
    background-color: #eee;
}

#profile-stats-container a {
    border: 0;
    border-left: 1px solid #fff;
    border-radius: 0;
    white-space: normal;
}

#profile-stats-container a:first-child {
    border-left: 0;
}

#profile-stats-container a img {
    vertical-align: baseline;
    margin-right: 8px;
}

#profile-stats-container a strong {
    font-size: 1.4em;
}

.no-left-border {
    border-left: 0;
}

#top-bg-container img {
    max-width: 100%;
}

#question-form .pull-right .checkbox-inline{
    margin-right: 15px;
}

#question-form-container {
    position: relative;
    margin-bottom: 0;
}

#question-form-message-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: none;
}

#question-form-message-container h3 {
    margin-top: 0;
}

#profile-tabs-content .mt15 {
    margin-top: 15px;
}

#question-form-message-container .message {
    display: none;
}

#questions-container hr, #main-content-container hr  {
    margin-top: 10px;
}

#questions-container .row:last-child .col-md-12 hr,
#main-content-container .row:last-child .col-md-12 hr {
    display: none;
}

#questions-container .question {
    word-wrap: break-word;
    margin-bottom: 10px;
}

#questions-container .question .media {
    padding-bottom: 2px;
}

#questions-container .answer-form-wrapper {
    display: none;
}

.user-points-progress {
    position: relative;
}
.user-points-progress .progress-value {
    text-align: center;
    font-size: 0.9em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.user-points-progress .levelone {
    background-color: #1a82f7;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0099FF), to(#1a82f7));
    background: -webkit-linear-gradient(top, #0099FF, #1a82f7);
    background: -moz-linear-gradient(top, #0099FF, #1a82f7);
    background: -ms-linear-gradient(top, #0099FF, #1a82f7);
    background: -o-linear-gradient(top, #0099FF, #1a82f7);
}
.user-points-progress .leveltwo {
    background-color: #f1a165;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -ms-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -o-linear-gradient(top, #f1a165, #f36d0a);
}
.user-points-progress .levelthree {
    background-color: #f0a3a3;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -ms-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -o-linear-gradient(top, #f0a3a3, #f42323);
}
.user-points-progress .levelfour {
    background-color: #a5df41;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
    background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
    background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
    background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
    background-image: -o-linear-gradient(top, #a5df41, #4ca916);
}
.user-points-progress .levelfive {
    background-color: #e1e1e1;
    background-image: -o-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);
    background-image: -moz-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);
    background-image: -webkit-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);
    background-image: -ms-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);
}

.loading-container {
    position: relative;
    min-height: 100px;
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../images/wait.gif');
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    z-index: 2;
}

#answers-container .question .media-body {
    padding-left: 15px;
    position: relative;
}

#answers-container .question > .media > .pull-left {
    margin-right: 0;
}

#answers-container .question .media-body .triangle {
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 10px 4px 0;
    border-color: transparent #eee transparent transparent;
    position: absolute;
    left: 6px;
    top: 20px;
}

#answers-container .question h4 {
    background: #eee;
    background: -moz-linear-gradient(top, #fff 0%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee));
    background: -webkit-linear-gradient(top, #fff 0%,#eee 100%);
    background: -o-linear-gradient(top, #fff 0%,#eee 100%);
    background: -ms-linear-gradient(top, #fff 0%,#eee 100%);
    background: linear-gradient(to bottom, #fff 0%,#eee 100%);
    border: 1px solid #eee;
    border-radius: 5px;
    color: #464646;
    font-size: 12px;
    line-height: 1.3em;
    padding: 10px;
    word-wrap: break-word;
    margin-top: 0;
    font-weight: bold;
}

#answers-container .question .panel {
    border: 0;
    margin-bottom: 0;
}

#answers-container > .row:last-child > .col-md-12 hr {
    display: none;
}

#answers-container > .row:last-child  {
    margin-bottom: 15px;
}

.question-wrapper > .col-md-12 > hr {
    margin-top: 10px;
    margin-bottom: 15px;
}

.more-container {
    display: none;
}

#yt-modal {
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin: 0 auto;
    display: none;
}

.video-container.visible {
    display: block;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.question-container .media-wrapper {
    margin: 0 auto;
    max-width: 640px;
}

.question-container .likes-wrapper .btn .glyphicon {
    display: none;
}

.question-container .btn.like-button .glyphicon-heart {
    display: inline-block;
}

.question-container .btn.dislike-button .glyphicon-heart-empty {
    display: inline-block;
}

.question-container .likes-wrapper .likes-container {
    display: none;
}

.question-container .likes-wrapper.visible .likes-container {
    display: inline;
}

.question-container .likes-wrapper.visible .likes-container > span {
    padding: 2px 0px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}

.question-container .likes-wrapper .likes-container > span.separator {
    padding: 2px 5px;
}

.no-touch .question-container .question-settings {
    display: none;
}

.no-touch .question-container:hover .question-settings {
    display: inline-block;
}

.question-container .question-settings {
    position: absolute;
    right: 5px;
    top: 0px;
}

.question-container .question-settings .dropdown-menu {
    font-size: 0.8em;
    min-width: 60px;
    left: auto;
    right: 0;
    top: 90%;
    padding: 2px 0;
    padding: 2px 0 2px 10px;
}

.question-container .question-settings .dropdown-menu .btn-link {
    color: #999;
}

#likes-modal .modal-dialog {
    max-height: 90%;
}

#likes-modal .modal-content {
    height: 100%;
}

.question-likes-wrapper {
    max-height: 90%;
    overflow: auto;
}
.question-like-container hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.question-like-container .media .user-avatar-wrapper {
    margin-bottom: 5px;
}

.question-like-container .media .media-body {
    padding-top: 10px;
}

.question-likes-wrapper .row:last-child hr {
    display: none;
}

.question-container .comments-wrapper {
    display: none;
}

.question-container .comments-wrapper .well {
    margin-bottom: 0;
}

.question-container .comments-wrapper .checkbox-inline {
    padding-right: 15px;
}

.question-container .comments-wrapper .btn-prev {
    display: none;
}

.question-container .comments-wrapper .well .form-group:last-child {
    margin-bottom: 0;
}

.question-comment-container {
    font-size: 0.9em;
}

.question-comment-container hr {
    margin-top: 4px;
    margin-bottom: 4px;
}

.question-comment-container .user-avatar-wrapper {
    margin-bottom: 4px;
    margin-right: 4px;
}

.comments-container.loading-container {
    min-height: 64px;
}

#answers-container .question  .question-comment-container .media-body {
    padding-left: 4px;
}

.no-touch .question-comment-container .close {
    display: none;
}

.no-touch .question-comment-container:hover .close {
    display: inline-block;
}

.question-comment-container .close {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 110%;
}

.profile-gifts-wrapper .gift-container {
    padding: 10px;
    text-align: center;
}

.profile-gifts-wrapper .gift-container .gift {
    width: 100%;
    text-align: center;
    min-height: 100px;
}

.no-touch .profile-gifts-wrapper .gift-container .btn-group{
    opacity: 0;
    visibility: hidden;
}

.no-touch .profile-gifts-wrapper .gift-container .message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
}

.no-touch .profile-gifts-wrapper .gift-container:hover .btn-group {
    opacity: 1;
    visibility: visible;
}

.profile-gifts-wrapper .gift-container .btn-group {
    margin-top: 5px;
}

.profile-gifts-wrapper .gift-container .btn-group .dropdown-menu {
    text-align: left;
    min-width: 100px;
}

.profile-gifts-wrapper .gift-container:hover {
    background-color: #428bca;
}

.profile-gifts-wrapper .gift-container img {
    max-width: 80%;
    cursor: pointer;
}

.profile-gifts-wrapper .disabled .gift-container:hover img {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.profile-gifts-wrapper .disabled  .gift-container:hover {
    background-color: #999999;
}

#profile-top {
    position: relative;
    z-index: 2;
}

#profile-top .gift {
    display: none;
    position: absolute;
}

.no-touch #profile-top.gifts-visible .gift {
    display: block;
}

.small#profile-top .col-md-3 {
    width: 8%;
    padding-right: 0;
}

.small#profile-top .col-md-9 {
    width: 92%;
}

.small#profile-top .user-avatar-wrapper,
.small#profile-top #profile-info-container .well {
    margin-bottom: 0;
}

.small#profile-top .gift {
    display: none;
}

.small#profile-top #profile-info-container {
    min-height: 60px;
}

.small#profile-top #profile-buttons-container,
.small#profile-top .user-points-progress {
    display: none;
}

#profile-info-container {
    min-height: 120px;
}

#profile-buttons-container {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 15px 0 15px;
}

#profile-buttons-container-small {
    display: none;
}

#profile-tabs-content .panel-footer-main,
#main-content-container .panel-footer-main {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
}

#profile-tabs-content .panel-footer-main .pagination,
#main-content-container .panel-footer-main .pagination,
#main-content-footer .pagination {
    margin: 0;
    margin-bottom: 0;
}

#profile-gifts-container .gift-container .gift {
    height: 100px;
    margin-bottom: 10px;
}

#profile-gifts-container .gift-container .gift img {
    max-width: 100%;
}

.list-elem-container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.list-elem-container .list-elem{
    margin-bottom: 10px;
}

.list-elem-container .close {
    position: absolute;
    right: 0;
    top: 0;
}

.list-elem-container .caption {
    background: rgba(255, 255, 255, 0.6);
    position: relative;
}

.no-touch .list-elem-container .close {
    display: none;
}

.no-touch .list-elem-container:hover .close {
    display: inline-block;
}

#profile-stats-container .btn.active {
    border-bottom: 0;
    background-color: #fff;
}

.photo-container .list-elem {
    min-height: 120px;
    max-height: 120px;
}

.photo-container .list-elem a img {
    max-height: 120px;
}

/*INDEX*/
#user-info-wrapper .panel-body {
    text-align: center;
}
#user-info-wrapper .panel-body .nav{
    text-align: left;
}
#user-info-wrapper .user-avatar {
    max-width: 80%;
}
#activity-menu-wrapper .nav-justified > li {
    display: table-cell;
    width: 1%;
}
#main-content-container #answers-wrapper {
    margin-top: 15px;
}
/*EOF INDEX*/


.question-container .question .triangle.right {
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 0 8px 10px;
    border-color: transparent transparent transparent #eee;
    position: absolute;
    right: 6px;
    top: 22px;
}

.btn-newest-container {
    height: 50px;
    padding-top: 15px;
}

.btn-newest-container .btn-newest {
    display: none;
}

#user-info-wrapper .users-online-container {
    padding: 0 8px 0 8px;
}

.users-online-wrapper .users-online-container a img {
    width: 30px; 
    margin: 5px;
    border: 2px solid #fff;
}

.users-online-wrapper h5 {
    color: #fff;
    text-shadow: 1px 1px 2px #000000;
}

#main-navbar > .container {
    position: relative;
}

#main-navbar > .container .popover {
    left: 0  !important;
}

#main-navbar .popover .popover-title {
    font-weight: bold;
    padding: 6px 8px;
    font-size: 12px;
}

#main-navbar .popover .popover-content {
    padding: 6px 0 0 0;
    font-size: 12px;
    min-width: 300px;
    max-width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

#main-navbar .popover-container {
    position: relative;
    width: 100%;
    height: 100%;
}

[data-container="likes"]#main-navbar .popover .popover-content {
    width: 320px;
}

[data-container="questions"]#main-navbar .popover .popover-content {
    width: 370px;
}

[data-container="feed"]#main-navbar .popover .popover-content {
    width: 340px;
}

#main-navbar .popover .popover-content .list-group {
    margin-top: -7px;
    margin-bottom: 0;
}

#main-navbar .popover .popover-content .list-group .list-group-item {
    border: 0;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
}

#main-navbar .popover .popover-content .list-group .list-group-item a:hover {
    text-decoration: none;
}

#main-navbar .popover .popover-content .list-group .list-group-item:hover {
    background-color: #f5f5f5;
}

#main-navbar .popover .popover-content .list-group .list-group-item .user-avatar-wrapper {
    margin-bottom: 2px;
}

#main-navbar .popover .popover-content .list-group .list-group-item .user-avatar-wrapper img {
    width: 40px;
    border: 0;
}

#main-navbar .popover .popover-content .list-group .list-group-item:last-child {
    border-bottom: 0;
    text-align: center;
    background-color: #f5f5f5;
}

#main-navbar .popover .popover-content .list-group .list-group-item:last-child {
    border-bottom: 0;

}

#main-navbar .popover .popover-content .list-group .list-group-item .media-body {
    padding-top: 4px;
}

#main-navbar .popover .see-all-container {
    text-align: center;
    background-color: #f5f5f5;
    padding: 0;
}

#main-navbar .popover .see-all-container a {
    color: #1CC4E7;
    display: block;
    padding: 6px 8px;
}

#top-notifications-feed-container .nav > li > a {
    padding: 5px;
}

.no-notifications, .no-live-search-results {
    padding: 5px;
    color: #999;
}

[data-container="feed"]#main-navbar .popover .popover-content .list-group {
    margin-top: 0;
}

#notifications-container .tab-content,
#main-content-container .tab-content {
    padding-top: 15px;
}

#notifications-container .tab-content .user-avatar-wrapper {
    max-width: 60px;
    margin-bottom: 4px;
}

#notifications-container .tab-content .user-avatar-wrapper img {
    border: 0;
}

#notifications-container .tab-content .media-body {
    padding-top: 8px;
}

/**
 * MAIN SEARCH FORM
 */

#main-search-form-elems {
    position: relative;
}

#main-search-form-elems #q-submit {
    position: absolute;
    right: 12px;
    top: 8px;
    color: #028fc5;
    text-shadow: 0px -1px 1px #00364b;
    cursor: pointer;
}

#q {
    background-color: #007BAB;
    border: 0;
    border-radius: 15px;
    color: #fff;
    text-align: left;
    padding-right: 30px;
    padding-left: 15px;
    -webkit-box-shadow: inset 1px 1px 1px 0px #00364b;
    box-shadow: inset 1px 1px 1px 0px #00364b;
}

#main-search-form-elems ::-webkit-input-placeholder {
   color: #028fc5;
}

#main-search-form-elems :-moz-placeholder {
   color: #028fc5;  
}

#main-search-form-elems ::-moz-placeholder {
   color: #028fc5;  
}

#main-search-form-elems :-ms-input-placeholder {
   color: #028fc5;  
}

#main-search-form-elems .popover {
    width: 304px;
    max-width: none;
}

#main-search-form-elems .popover .arrow{
    left: 10%;
}

#live-search-results-container .live-search-results-item {
    padding: 0;
}

#live-search-results-container .live-search-results-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 65px;
    position: relative;
    min-height: 70px;
}

#live-search-results-container .live-search-results-item img {
    width: 50px;
    position: absolute;
    left: 15px;
    top: 10px;
}

#live-search-results-container .live-search-results-item span {
    margin-left: 10px;
    display: block;
    text-align: left;
}

.media .top-20-index {
    font-size: 2.1em;
    display: block;
    height: 70px;
    line-height: 2.1em;
    margin-right: 20px;
}

.question-of-the-day > .row {
    background-color: #e9e9e9;
    padding-top: 10px;
    margin-bottom: 10px;
}

.question-of-the-day button.remove {
    display: none;
}

@media (min-width: 768px) {
	#profile-info-container {
        min-height: 150px;
    }
    .navbar-nav > li > a.btn {
		padding-top: 0;
		padding-bottom: 0;
		margin: 15px 0 15px 0;
	}
    #main-search-form-wrapper {
        margin-top: 2px;
    }
}

@media (min-width: 992px) { 
    #profile-info-container {
        min-height: 199px;
    }

    .profile-gifts-modal .modal-dialog {
        width: 900px;    
    }

    .question-container .comments-wrapper {
        margin-left: 70px;
    }
    .video-wrapper {
        max-width: 60%;
    }
    #main-search-query {
        width: 250px;
    }
}

@media (min-width: 1200px) { 
    #profile-info-container {
        min-height: 240px;
    }
}

@media (max-width: 1199px) { 
    .add-container-left, .add-container-right {
        margin-left: -15px;
    }
    .small#profile-top .col-md-3 {
        width: 10%;
    }   
    .small#profile-top .col-md-9 {
        width: 90%;
    }
}

@media (max-width: 991px) { 
    .add-container-top {
        margin-left: -8px;
    }
    .profile-info-wrapper .progress {
        margin-bottom: 15px;
    }
    #profile-top .col-md-3 {
        width: 20%;
        float: left;
        padding-right: 0;
    }   
    #profile-top .col-md-9 {
        width: 80%;
        float: left;
    }
    #profile-top .user-avatar-wrapper {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .small#profile-top .user-avatar-wrapper {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .small#profile-top .col-md-3 {
        width: 10%;
        float: left;
    }   
    .small#profile-top .col-md-9 {
        width: 90%;
        float: left;
    }
    .small#profile-top .col-md-9 h1 {
        font-size: 32px;
    }
    #profile-buttons-container {
        display: none;
    }
    #profile-buttons-container-small {
        display: inline-block;
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
    #profile-buttons-container-small > .dropdown-menu {
        left: -120px;    
    }
}

@media (max-width: 767px) { 
    #profile-stats-container a {
        font-size: 12px;
        padding: 6px 4px;
    }
    #profile-top h1 {
        font-size: 28px;
    }
    .nav#profile-menu > li > a {
        padding: 10px 10px;
    }
    .question-container .like-button {
        opacity: 1;
    }
    .small#profile-top .col-md-3 {
        width: 12%;
        float: left;
    }
    .small#profile-top .col-md-9 {
        width: 88%;
        float: left;
    }
    .small#profile-top .col-md-9 h1 {
        font-size: 32px;
    }
}

@media (max-width: 479px) { 
    #profile-stats-container a {
        font-size: 12px;
    }
    #profile-stats-container a span {
        display: block;
    }
    .notifications li.notify {
        width: 40px;
    }
    .navbar-nav > li#navbar-logo {
        width: auto;
    }
    .navbar-nav > li#navbar-logo a  {
        padding: 4px 0 0 0;
    }
    #profile-top .user-avatar-wrapper {
        width: 140%;
        margin-left: -10px;
        
    }
    .small#profile-top .user-avatar-wrapper {
        width: 100%;
        
    }
    .small#profile-top .col-md-3 {
        width: 20%;
        float: left;
    }   
    .small#profile-top .col-md-9 {
        width: 80%;
        float: left;
    }
    .small#profile-top .col-md-9 h1 {
        font-size: 28px;
    }
    .profile-info-wrapper .profile-sticker {
        display: none;
    }
}
