/* ----------------------------- bootstrap.css --------- */

body {
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.42857;
}



.btn-success {
    background-color: #7FBF4D;
    border-color: #4CAE4C;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #4C9021;
}




/* ---------------------------------- Common.css  -------------------------------------------------------- */



a {
    color: #464646;
    outline: none !important;
}


ul#profile-menu li a {
    background-color: #F5F5F5;
}



#profile-stats-wrapper a.btn {
    background-color: #F9F9F9;
    color: #0084B4;
    font-size: 11px;
    text-transform: uppercase;
}

#profile-stats-container a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E8E8E8 -moz-use-text-color #E8E8E8 #E8E8E8;
    border-image: none;
    border-left: 1px solid #E8E8E8;
    border-radius: 0;
    border-right: 0 none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    white-space: normal;
}
#profile-stats-container a { border-color:#e8e8e8;}