.mobile img{width:20px;height:20px}
.mobile #inboxCount{font-size:20px;padding-bottom:10px}
@media only screen and min-width 990px and max-width 1259px {
#nav_up{left:5px}
#nav_down{left:45px}
#content,#footercontent{width:800px}
#profile{width:100%}
#userbuttons a{font-size:11px;width:90px}
#topTabs li{width:153px}
#intro{padding:25px 0 15px 45px}
#signup{padding:30px 45px 30px 0}
#themes{width:770px}
#facebox .content{width:775px;height:350px}
.top{width:100px;height:130px}
.top img{width:90px;height:90px}
#topusers,#lastusers{margin:15px 40px}
.homepage .top,.homepage .top img{width:66px;height:66px}
}
@media only screen and min-width 810px and max-width 989px {
#nav_up{left:5px}
#nav_down{left:45px}
#headercontent{width:800px}
#content,#questions,#footercontent,#centercontent,#people{width:600px}
#top{padding:0 0 30px}
#profile{width:100%;margin:10px auto}
#profileInfo #userbuttons{float:left;margin:10px 0}
#userbuttons a{width:110px}
#followbutton,#blockbutton{margin:10px auto}
#numcount{padding:25px 10px}
.result{width:180px;height:180px;font-size:14px}
.result img{width:160px;height:140px}
.result .name{margin:0}
#topTabs li{width:113px}
#topTabs li a{padding:3px 0}
#box{margin-left:25px}
#logincontent #box{margin-left:5px}
#box input{width:200px}
#boxthird{width:244px}
#themes{width:540px}
.theme a{width:100px;height:100px}
.flexslider{width:500px}
#intro{width:250px;padding:25px 0 15px 45px}
#signup{width:250px;padding:30px 45px 30px 0}
#facebox .content{width:775px;height:350px}
.top{width:130px;height:150px}
.top img{width:120px;height:120px}
#topusers,#lastusers{margin:15px 80px}
.homepage .top,.homepage .top img{width:50px;height:50px}
#uLogin img{width:20%}
#boxthird textarea,#loginForm{width:220px}
}
@media only screen and min-width 605px and max-width 809px {
#nav_up{left:5px;bottom:50px}
#nav_down{left:5px}
#headercontent{width:600px}
#headernav li{margin:0 12px 0 0}
#question{width:196px}
.questionText{text-align:left}
#footercontent{width:520px}
#footer{height:62px}
#top{padding:0 0 30px}
#profile{width:100%;margin:10px auto}
#profileInfo #userbuttons{float:left;margin:10px 0}
#userbuttons a{width:90px;font-size:10px}
#followbutton,#blockbutton{margin:10px auto}
#numcount{padding:25px 10px}
.result{width:233px;height:200px;font-size:12px}
.result img{width:200px;height:150px}
.result .name{margin:0}
#topTabs li{width:100%;border-radius:0}
#topTabs li a{padding:3px 0}
#box,#boxthird{width:220px;margin-left:10px}
#logincontent #box{margin-left:5px}
#box input,#boxthird textarea{width:200px}
.theme a{width:117px;height:117px}
.flexslider{width:450px}
#search{width:100%;padding:0}
#facebox .content{width:480px;height:300px}
.top{width:100px;height:130px}
.top img{width:90px;height:90px}
#topusers,#lastusers{margin:15px 60px}
#content,#questions,#centercontent,#people,#themes{width:500px}
#intro,#signup{width:100%;float:none;padding:0}
}
@media only screen and min-width 418px and max-width 604px {
#nav_up{left:5px;bottom:50px}
#nav_down{left:5px}
#headernav li{display:none}
#headernav .mobile{display:block;width:40px;text-align:center;margin:0;padding:5px}
#headernav .mobile:hover{background-color:#FA6900}
#content,#people,#footernav{width:70%}
#commcontent{margin:10px 0}
#addcomment #comment{width:296px}
#languages{margin-top:30px}
.questionText{text-align:left}
#footercontent{width:90%;margin-left:10%}
#footer{height:100px}
#top{padding:0 0 30px}
#profile{width:100%;margin:10px auto}
#profileInfo{text-align:center}
#profileInfo #userbuttons{float:left;margin:10px 0}
#userbuttons a{width:90px;font-size:10px}
#followbutton,#blockbutton{margin:10px auto}
.result{width:233px;height:200px;font-size:12px}
.result img{width:200px;height:150px}
.result .name{margin:0}
#topTabs li{width:100%;border-radius:0}
#topTabs li a{padding:3px 0}
#box,#boxthird{margin-left:5%;width:250px}
#logincontent #box{margin-left:5%}
#themes{width:80%;margin:0 auto}
.theme a{width:100px;height:100px}
.flexslider{width:90%}
#search{width:100%;padding:0}
#facebox .content{width:350px;height:200px}
.top{width:130px;height:150px}
.top img{width:120px;height:120px}
#topusers,#lastusers{margin:15px 40px}
#headercontent,#profileUser,#questions,#centercontent,#question{width:100%}
#boxthird textarea,#query{width:200px}
#intro,#signup{width:100%;float:none;padding:0}
}
@media only screen and min-width 0px and max-width 417px {
#header{height:auto}
#headernav li{display:none}
#headernav .mobile{display:block;width:30px;text-align:center;margin:0;padding:5px}
#headernav .mbig{width:50px}
#headernav .mobile:hover{background-color:#FA6900}
#commcontent{margin:10px 0}
#addcomment #comment{width:296px}
#languages{margin-top:30px}
.questionText{text-align:left}
#footer{height:100px}
#top{padding:0 0 30px}
#profile{width:100%;margin:10px auto}
#profileInfo{text-align:center}
#profileInfo #userbuttons{float:left;margin:10px 0}
#userbuttons a{width:90px;font-size:10px}
#followbutton,#blockbutton{margin:10px auto}
.result{width:120px;height:140px;font-size:12px;overflow:hidden}
.result img{width:100px;height:100px}
.result .name{margin:0}
#topTabs li{width:100%;border-radius:0}
#topTabs li a{padding:3px 0}
#logincontent{width:230px}
#box,#boxthir,#box,#boxthird{margin-left:0;width:220px}
#themes{width:250px}
.theme a{width:117px;height:117px}
#search{width:100%;padding:0}
#questionavatar{width:50px;height:50px}
.questionact{clear:both}
#facebox .content{width:100%;height:200px}
#nav_up,#nav_down{display:none;top:-50px}
#headercontent,#profileUser,#questions,#centercontent,#people,#footernav,#question,#footercontent{width:100%}
#content,.flexslider{width:90%}
#box input,#boxthird textarea,#query{width:200px}
#intro,#signup{width:100%;float:none;padding:0}
}