html,body{height:100%}
body{background-color:#000;color:#2a2a2a;font-family:arial;font-size:14px;line-height:1.4;margin:0;padding:0}
p{margin-bottom:18px}
@font-face
{
font-family: Lato;
src: url(../fonts/Lato.ttf);
}

h1 {
    color: #FFFFFF;
    font-family: Trebuchet MS;
    font-size: 46px;
    margin-bottom: 18px;
    text-shadow: 2px 2px 2px #000000;
}
h2 {
    
    border-radius: 10px 10px 0 0;
    color: #444;
    font-size: 18px;
    height: 23px;
    margin-bottom: 10px;
    /*padding: 10px;
	    text-shadow: 0 1px 0 #FFFFFF;
	    background-image: -moz-linear-gradient(center top , #F9F9F9, #E9E9E9);
    border-bottom: 1px solid #BABABA;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.08);*/
	padding-top:10px;
}
h3{color:#000;font-size:18px}
a,a:visited{color:#464646}
ul,ol{margin:8px}
img{border:0}
textarea{background:transparent;border:1px solid #ccc;color:#464646;}
input[type=text]:focus,input[type=password]:focus,textarea:focus{border:1px solid #ccc;-moz-box-shadow:0 0 1px 1px #1CC4E7;-webkit-box-shadow:0 0 1px 1px #1CC4E7;box-shadow:0 0 1px 1px #1CC4E7;outline:none}
.right{float:right}

#wrapper{width:100%; min-height:100%;height:auto!important;margin:0 auto -72px;}
#header {
   background:url(../images/menu_bg.png);
    height: 40px;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
	z-index:9969;
	border-bottom:2px solid #1cc4e7;
	box-shadow:0 6px 4px rgba(0, 0, 0, 0.1);
}

.reklama {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    /*height: 97px;*/
    margin: 70px auto 0;
    padding-top: 8px;
    text-align: center;
    width: 740px;
	padding-bottom:4px;
	z-index: 9998;
	position:relative;
}

.reklama_left {
    left: -544px;
    margin-left: 50%;
    /*margin-top: -300px;*/
    position: fixed;
    top: 56px !important;
    width: 160px;
    z-index: 9998;
	
}

#reklama_right {margin-top:24px; background:none; z-index: 9998; /*position:absolute;*/}

.reklama_right2 {
    margin-right: 50%;
    /*margin-top: -300px;*/
    position: fixed;
    right: -554px;
    top: 56px !important;
    width: 160px;
    z-index: 9999;
}

.stick {
    position:fixed;
    top:0px;
}

.reklama_bottom {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    height: 97px;
    margin: -10px auto 16px;
    padding-top: 7px;
    text-align: center;
    width: 740px;
	z-index: 9998;
}
.homepage{background: url("../images/home.jpg") no-repeat fixed center top}
#contenta {width:940px;background:url(../images/content.png) repeat;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin:122px auto;padding:0px; /*box-shadow: 0 1px 5px 1px #313131;*/}
#headernav{float:right;margin:10px 0 0}
#headernav li{float:right;list-style-type:none;margin:0 18px 0 0;padding:0}
#headernav li a{color:#FFF;font-size:14px;padding-bottom:1px;text-decoration:none}
#headernav li a#RES_ID_fb_login,#headernav li a#RES_ID_fb_login:hover{border-bottom:0;color:inherit;font-size:inherit;padding-bottom:0}
#content{width:740px;/*background:url(../images/content.png) repeat;*/ background:#fff; border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin:122px auto 80px;padding:0px; /*box-shadow: 0 1px 10px 1px #ccc;*/}
#centercontent{width:740px;text-align:center;margin:0 auto; /*padding-top:10px;*/}
#footerspace{/*height:72px*/}
#footer {
    background-color: #000000;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    height: 75px;
    margin: 0 auto;
   
    padding-bottom: 20px;
    padding-top: 10px;
    width: 100%;
}
#footer a,#footer a:visited{color:#FFF;text-decoration:none}
#footernav{float:right;margin:5px 0}
#footernav li{float:right;list-style-type:none;margin:0 0 0 18px;padding:0}
#footernav li a{color:#FFF;padding-bottom:1px;text-decoration:none}
.clear{clear:both}
.validationError{background-image:url(../images/exclamation.png);background-position:center left;background-repeat:no-repeat;color:red;font-size:15px;margin-left:4px;padding:2px 2px 2px 18px}
.validationOK{background-color:inherit;background-image:url(../images/accept.png);background-size:16px 16px;background-position:center left;background-repeat:no-repeat;color:inherit;font-size:12px;margin-left:4px;padding:2px 2px 2px 18px}
.highlightYellow{color:#FF0}
.iconDelete{background:transparent url(../images/bin.png) no-repeat bottom left;background-size:15px 15px;height:18px;padding:2px 0 0 20px}
.iconRespond{background:transparent url(../images/arrow_respond.png) no-repeat 2px center;height:25px;line-height:16px;margin-right:18px;padding:2px 5px 0 40px}
.iconConfigure{background:transparent url(../images/cog.png) no-repeat bottom left;height:18px;padding-left:20px}
#searchResults{margin-top:30px;min-height:50px}
#searchResults h3{text-align:center;}
#logincontent{width:532px;text-align:center;margin:0 auto}
#logincontent input[type=text],#logincontent input[type=password]{margin-top:20px}
#box,#boxsecond,#boxthird{float:left;width:224px;height:144px;border:solid 1px #e1e1e1;border-radius:15px;margin:5px;padding:5px}
#boxthird{width:717px}
#box .loginMeta{margin-top:30px;display:inline-block}
#box .supporting,#boxsecond .supporting,#boxthird .supporting{display:inline-block;height:50px}
#box input,input.w40{width:214px;border:1px solid #bbb;color:#464646;background:rgba(0,0,0,0.15);border-radius:2px;box-shadow:0 1px 0 rgba(255,255,255,0.2),inset 0 1px 1px rgba(0,0,0,0.1);height:24px; margin:0;}
#topTabs{border-bottom:solid 1px #235;float:left;width:100%;margin:55px 0 0;padding:0}
#topTabs li{-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;background-color:#f0f0f0;border:solid 1px #ccc;border-bottom:0;border-top-left-radius:4px;border-top-right-radius:4px;float:left;list-style-type:none;width:100px;text-align:center;margin:0 5px;padding:0}
#topTabs li a{color:#555;display:block;font-size:12px;text-decoration:none;padding:3px 24px}
#topTabs li.selected,#topTabs li:hover{background:linear-gradient(rgba(250,105,0,0.5),rgba(250,105,0,0.7));border:solid 1px #FA6900;border-bottom:0}
#topTabs li.selected a,#topTabs li:hover a{color:#464646;}
.error{color:#f33;font-style:italic;margin:16px 0}
.message{color:#36e;font-style:italic;margin:16px 0}
.message a,.message a:visited{color:#36e;font-style:italic}
.indicator{height:16px;vertical-align:text-top;width:16px;margin:0 8px}
.tip,.tip:visited{color:#c60;font-size:11px;font-weight:700;text-decoration:none}
.follow,.unfollow{-moz-border-radius:4px;-webkit-border-radius:4px;background-color:#f3f3f3;display:inline-block;font-size:10px;line-height:1;text-decoration:none;margin:4px 0;padding:4px 8px}
.follow,.follow:visited{color:green;font-weight:700}
.follow:hover{color:#050}
.unfollow,.unfollow:visited{color:#999}
a.disabled{color:#DDD;outline:none;text-decoration:none}
table{table-layout:fixed;word-wrap:break-word}
#top{margin-bottom:0px;padding:0px 0 15px}
#profile{font-size:12px;width:100%;margin:0px auto; background:#fff; border-bottom: 1px solid #eee; border-radius:10px 10px 0 0;
background: rgb(204,204,204); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(249,249,249,1) 5%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(5%,rgba(249,249,249,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 5%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 5%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 5%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(249,249,249,1) 5%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
#profile h3{margin:10px 0}
#profileUser{float:left;height:250px;width:250px;overflow:hidden;text-align:center;margin:0 24px 6px 0}
#commcontent{margin:25px 10px; padding-bottom:10px;}
#profilePhoto img{width:200px;}
#profilePhoto {
    background: url("../images/profile.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 5px solid #FFFFFF;
    border-radius: 140px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    height: 200px;
    margin-bottom: 10px;
    margin-left: 30px;
    overflow: hidden;
    width: 200px;
}
p.notificationimage {margin-bottom:0px;}
.abutton {
background: #1cc4e7; /* Old browsers */
background: -moz-linear-gradient(top,  #1cc4e7 0%, #18b4d5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1cc4e7), color-stop(100%,#18b4d5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1cc4e7 0%,#18b4d5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1cc4e7 0%,#18b4d5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1cc4e7 0%,#18b4d5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1cc4e7 0%,#18b4d5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cc4e7', endColorstr='#18b4d5',GradientType=0 ); /* IE6-9 */

;border:1px solid #16accb !important;color:#fff;font-weight:900}
#loadq, #loadp {margin:0 auto;width:680px; text-align:center; background: #e2f8ff; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;}
.loadquestions, .loadpeople {background:none; color:#464646; border:none; font-weight:bolder; cursor:pointer; font-size:17px; text-decoration:none}
.abutton:hover {background-color:#FA6900;color:#000}
#userbuttons a, .abutton{cursor:pointer;display:inline-block;width:81px;text-align:center;text-decoration:none;border:solid 1px #e1e1e1;border-radius:5px;padding:10px 2px}
#userbuttons a:hover{border:solid 1px #FA6900}
#userbuttons a span{font-weight:700;font-size:20px}
#profileInfo{line-height:1.8em;word-wrap:break-word; padding-top:35px; padding-right:10px;}
#profileInfo strong{font-size:23px;color:#000}

#ask {
    background: none repeat scroll 0 0 #eee;
    border-radius: 5px 5px 5px 5px;
    height: 125px;
    margin: 20px auto;
    width: 90%;
	    border: 1px solid #CCCCCC;
}
#ask input{margin-top:10px}
#ask h3{font-size:16px;font-weight:700;margin:10px 0 0 25px;padding:0}
#ask label{font-size:11px;padding:0 20px 0 0}
#question {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color -moz-use-text-color #CCCCCC;
    border-image: none;
    border-radius: 5px 5px 0 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    float: left;
    margin-bottom: 16px;
    width: 100%;
}
#numcount {
    float: left;
    font-weight: 700;
    margin-left: 10px;
    max-width: 407px;
    min-width: 353px;
}
#commentsno h2{margin-bottom:15px;margin-top:15px}
#questionsanswered h2{margin-bottom:8px;margin-top:-25px}
#questionsanswered {padding-left:22px;}
#questionpage {padding-left:0px;}
#questionall {padding-left:40px; margin-top:30px;}
#comments{margin-left:0;width:100%}
#comments .commentDate,#comments .commentDate:visited{color:#999;font-size:11px;margin-top:10px;text-decoration:none}
#comments .commentbox{border-bottom:#dedede dashed 1px;padding:0 0 10px}
#commenttext{margin-bottom:10px;word-wrap:break-word}
ol.comments{font-size:13px;list-style:none;margin-left:0;padding-left:0}
ol.comments li{display:none;position:relative;margin:10px 0;padding:0}

#addcomment {
    float: left;
    margin-left: 15px;
    width: 700px;
}
#addcomment h3{font-size:14px;font-weight:700;margin:0 0 8px;padding:0}
#addcomment #comment{margin-bottom:16px;width:690px}
#addcomment p a{color:blue}
#questions{word-wrap:break-word;width:737px;border-top:none;margin:0 3px;}
.question{font-size:12px;border-bottom:solid 1px #eee;margin-bottom:0px;padding:12px 0 6px;}
.question h4{font-size:13px;font-weight:700;margin:0 0 4px}
.questionText {width:550px; text-align:left;}
.questionText .question h4{font-size:13px;font-weight:700;margin:0 0 4px}
#questionpage  h4 {
  background: #e7f1fe; /* Old browsers */
background: -moz-linear-gradient(top,  #e7f1fe 0%, #c7defe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7f1fe), color-stop(100%,#c7defe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e7f1fe 0%,#c7defe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e7f1fe 0%,#c7defe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e7f1fe 0%,#c7defe 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e7f1fe 0%,#c7defe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f1fe', endColorstr='#c7defe',GradientType=0 ); /* IE6-9 */

    /*border: 1px dashed #CCCCCC;*/
    border-radius: 5px;
        color: #3E454C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.6;
    margin: 0 0 13px 10px;
    padding: 10px;
	margin-left:7px;
	border: 1px solid #BED0E9;
}

#stream h4 {
   background: #e7f1fe; /* Old browsers */
background: -moz-linear-gradient(top,  #e7f1fe 0%, #c7defe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7f1fe), color-stop(100%,#c7defe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e7f1fe 0%,#c7defe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e7f1fe 0%,#c7defe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e7f1fe 0%,#c7defe 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e7f1fe 0%,#c7defe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f1fe', endColorstr='#c7defe',GradientType=0 ); /* IE6-9 */

    /*border: 1px dashed #CCCCCC;*/
    border-radius: 5px;
        color: #3E454C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: normal;
    line-height: 1.6;
    margin: 0 0 13px 10px;
    padding: 10px;
	margin-left:7px;
	    border: 1px solid #BED0E9;
	word-wrap:break-word;
}

.question p{margin:0 0 6px}
.askedBy a,.askedBy a:visited{color:#99f}
#moreLink{display:block;float:right}
#miniProfile img{float:left;margin-right:18px}
#miniProfile strong{font-size:16px;line-height:1.8em}
.questionCount{margin-top:15px;display:block;color:#999;font-size:11px;font-style:italic; padding-left:40px; padding-top:15px; padding-bottom:10px;}
.radios{margin-top:-20px}
#sendButton{
height:45px;
    
	color:#fff;
    float: right;
    height: 13px;
    margin-right: 10px;
	padding-top:3px;
	margin-top:-4px;
	text-shadow:0 -1px 0 #4C9021;
background: #96cc50; /* Old browsers */
background: -moz-linear-gradient(top,  #96cc50 0%, #6ca81f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96cc50), color-stop(100%,#6ca81f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #96cc50 0%,#6ca81f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #96cc50 0%,#6ca81f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #96cc50 0%,#6ca81f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #96cc50 0%,#6ca81f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96cc50', endColorstr='#6ca81f',GradientType=0 ); /* IE6-9 */
border: 1px solid #65942A !important;
}
.radios label{display:inline;font-size:12px;font-weight:400;margin:0 10px 0 1px}
#intro {
    float: left;
    padding: 30px 0 15px;
    text-align: center;
    width: 630px;
}
#intro p {
    color: #FFFFFF;
    font-size: 18px;
    text-shadow: 2px 2px 2px #000000;
}
#intro a{display:block;clear:both;cursor:pointer;width:100%;background:#bff1c9;border:1px solid #bbb;border-radius:3px;-webkit-box-shadow:inset 0 0 1px 1px #f6f6f6;box-shadow:inset 0 0 1px 1px #f6f6f6;color:#555;font:bold 12px/1 "helvetica neue",helvetica,arial,sans-serif;text-align:center;text-shadow:0 1px 0 #fff;text-decoration:none;margin:18px 0;padding:8px 0 9px}
#intro a:hover,#loginSubmit:hover,.submit:hover{box-shadow:inset 0 1px rgba(255,255,255,0.2),inset 0 20px 30px rgba(255,255,255,0.9);color:#000}
#signup{font-size:12px;width:300px;padding:0px 45px 30px 0}
#signup p,#bordertext{display:block;background:linear-gradient(rgba(250,105,0,0.5),rgba(250,105,0,0.7));border:1px solid #FA6900;text-align:center;font-size:15px;margin-bottom:0;padding:5px}
#bordertext{border-bottom:1px solid #f5f5f5; background:none; border-top:none; border-left:none; border-right:none;}
#loginSubmit,.submit{clear:both;color:#fff !important;width:20%;
background: #1cc4e7; /* Old browsers */
background: -moz-linear-gradient(top,  #1cc4e7 0%, #18b4d5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1cc4e7), color-stop(100%,#18b4d5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1cc4e7 0%,#18b4d5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1cc4e7 0%,#18b4d5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1cc4e7 0%,#18b4d5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1cc4e7 0%,#18b4d5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cc4e7', endColorstr='#18b4d5',GradientType=0 ); /* IE6-9 */
border:1px solid #16accb;border-radius:5px;box-shadow:inset 0 1px rgba(255,255,255,0.4),0 2px 1px rgba(0,0,0,0.1);cursor:pointer;font:bold 12px/1 "helvetica neue",helvetica,arial,sans-serif;text-align:center;text-decoration:none;margin:18px 0;padding:8px 5px}
#username,#password{float:left;margin-bottom:12px;width:150px}
#signup p{font-size:14px}
#signup small{font-size:14px;padding:0 10px}
#signup small a, a:visited {color:#464646; text-decoration:none;}
#signup p a,#signup p a:visited{color:#f63;font-weight:700}
#search{width:420px;border-top:solid 1px #eee;margin:0 auto;padding:40px 120px}
#searchContent{text-align:left}
#search label{color:#00800F;font-weight:700}
#query{width:300px;margin:8px 0 4px;padding:8px}
#searchSubmit{border-radius:10px;cursor:pointer;padding:10px 12px; color:#fff;
background: #96cc50; /* Old browsers */
background: -moz-linear-gradient(top,  #96cc50 0%, #6ca81f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96cc50), color-stop(100%,#6ca81f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #96cc50 0%,#6ca81f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #96cc50 0%,#6ca81f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #96cc50 0%,#6ca81f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #96cc50 0%,#6ca81f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96cc50', endColorstr='#6ca81f',GradientType=0 ); /* IE6-9 */
border: 1px solid #65942A !important;
}
#searchSubmit:hover{box-shadow:inset 0 1px rgba(255,255,255,0.2),inset 0 20px 30px rgba(255,255,0,0.9)}
input{margin:2px 0;padding:4px}
.supporting{font-size:11px;font-weight:400}
.submit{margin:16px 0;padding:10px 16px}
#termsLabel{font-size:12px;font-weight:400}
.loginMeta{font-size:12px}
.welcome{margin-bottom:32px}
#questionavatar{float:left;width:45px;height:45px;border-radius:45px;margin:5px 10px 20px}
#questionavatarb{float:left;width:200px;height:200px;border-radius:200px;margin:5px 10px 20px}
.question:hover,.questionact{color:#96CC50; /*border-bottom:solid 1px #FA6900*/ background:#f9f9f9; /*margin-bottom:30px;*/}
.question.selected h4{background-color:#ffc}
.question.selected.warning h4,.question.warning h4{background-color:#fcc}
.questionTools{float:right;font-size:12px;width:160px}
.questionTools ul li.links{display:inline;float:right;list-style-type:none;position:relative}
.questionTools ul li.links.respond{width:75px}
.questionTools ul li.links.delete{width:50px;padding-right:10px;}
.questionTools ul li >a:hover{/*background-color:#EFEFEF*/}
.questionTools ul li ul{border-bottom:1px solid #CCC;display:none;left:0;position:absolute;top:0;z-index:9999;margin:0;padding:0}
.questionTools ul li ul li{background-color:#EFEFEF;border-left:1px solid #CCC;border-right:1px solid #CCC;font-size:11px;list-style-type:none}
.questionTools ul li ul li.first{background-color:transparent;border:1px solid #CCC;display:block;border-width:0 0 1px;padding:0}
.questionTools ul li ul li a{border-bottom:1px solid #CCC;border-top:1px solid #FFF;display:block;line-height:1.4em;white-space:nowrap;padding:3px 10px 3px 30px}
.questionTools ul li ul li a.delete:hover,.questionTools ul li ul li a.block:hover,.questionTools ul li ul li a.spam:hover{background-color:#FFF}
.questionTools ul li ul li a.dummy{background-color:#EFEFEF;background-position:center center;display:block;height:16px;border-color:#CCC;border-style:solid;border-width:1px 1px 0;padding:1px}
.questionTools ul li ul li a.delete{background:transparent url(../images/bin.png) no-repeat 5px center}
.questionTools ul li ul li a.block{background:transparent url(../images/status_busy.png) no-repeat 5px center}
.questionTools ul li ul li a.spam{background:transparent url(../images/exclamation.png) no-repeat 5px center}
.inbox.pagination{float:right;font-size:12px;line-height:16px;padding-left:30px}
.inbox.pagination.loading{background:transparent url(../images/indicator.gif) no-repeat left center}
.questionTools a.links{float:right;font-size:11px}
.questionCheckboxCol{float:left;margin-right:12px;padding-top:2px}
.result{display:block;float:left;border:none;border-radius:15px;text-align:center;width:200px;height:200px;margin:5px;padding:2px}
.result img{width:100px;height:100px; border-radius:100px;}
.result .name{color:#464646;font-size:15px;font-weight:700;margin-bottom:8px}
.question .meta a,.question .meta a:visited{color:#99f;text-decoration:underline}
.questionRespond{margin:8px 0}
.questionRespond textarea{margin-bottom:16px;padding:3px 4px; background:#fff;}
.questionRespond textarea:focus { box-shadow:none;}
.questionRespondButton{margin-top:24px;margin-left:20px;margin-right:20px}
.questionRespondButton {

	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:27px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}
.questionRespondButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}
.questionRespondButton:active {
	position:relative;
	top:1px;
}

.questionsList .question:hover {background:none;}

.questionRespondCancel{color:red;font-size:12px;margin-left:8px}
.batchTools{margin-bottom:6px}
#batchRespondTools{margin-top:32px}
#inboxEmptyMessage{padding-bottom:10px}
#announcements{margin-top:24px;padding-top:12px}
#announcements p{margin-bottom:8px}
#announcementMessage{margin-bottom:16px;padding:6px}
#sendAnnouncementsButton{margin-top:16px}
#changePasswordLink{margin-top:50px}
.theme{border:solid 4px #eee;float:left}
.selectedTheme{border:solid 4px #FA6900}
.theme a{display:block;height:120px;text-decoration:none;width:120px}
#backgroundPreview img{vertical-align:middle;padding:4px 0}
#deleteBackgroundLink{margin-left:12px}
.service{border-top:solid 1px #ddd;margin-top:24px;padding:16px 0}
.serviceTools{float:right;text-align:right;width:100px}
.serviceTools a{float:right;font-size:12px}
.serviceHeader{float:left;width:500px}
.serviceSetup{margin-top:18px}
.o5582brd{border-bott6om:solid 1px #DFDFDF;border-right:solid 1px #DFDFDF;height:14px;width:12px;padding:0}
a.o5582n66,.o5582n66,.o5582n66a{border:none;color:#666;font-family:arial,tahoma,sans-serif;font-size:9px;text-decoration:underline}
.o5582n66,.o5582n66a{text-align:center;text-decoration:none}
a:hover.o5582n66{color:orange;cursor:pointer;text-decoration:none}
.a01p3{background:#F5F5F5;border:solid 1px #DFDFDF;padding:1px 4px 1px 2px}
.nav_up,.nav_down{cursor:pointer;background-color:#FFF;border:1px solid #CCC;position:fixed;width:20px;height:20px;bottom:10px;opacity:0.7;white-space:nowrap;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;padding:7px}
.nav_up{background:transparent url(../images/up.png) no-repeat top left;left:30px;background-position:50% 50%}
.nav_down{background:transparent url(../images/down.png) no-repeat top left;left:70px;background-position:50% 50%}
#facebox{position:absolute;top:0;left:0;z-index:100;text-align:left}
#facebox .popup{position:relative;border:3px solid rgba(0,0,0,0);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);-moz-box-shadow:0 0 18px rgba(0,0,0,0.4);box-shadow:0 0 18px rgba(0,0,0,0.4)}
#facebox .content{display:table;width:800px;height:350px;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:10px}
#facebox .content >p:first-child{margin-top:0}
#facebox .content >p:last-child{margin-bottom:0}
#facebox .close{position:absolute;top:5px;right:5px;background:#fff;padding:2px}
#facebox .close img{opacity:0.3}
#facebox .close:hover img{opacity:1.0}
#facebox img{border:0;width:100%;height:100%;max-height:500px;margin:0}
#facebox_overlay{position:fixed;top:0;left:0;height:100%;width:100%}
.facebox_hide{z-index:-100}
.facebox_overlayBG{background-color:#000;z-index:99}
.top{display:block;float:left;border:solid 1px #e1e1e1;border-radius:15px;text-align:center;width:120px;height:140px;margin:5px;padding:2px}
.top img{width:100px;height:100px}
#topusers,#lastusers{width:90%;margin:15px auto}
.homepage .top{width:80px;height:80px;border:none;border-radius:0;border-top:none;margin:0;padding:0}
#topuser .top, #topuser .top img, #lastuser .top, #lastuser .top img {
    border: medium none;
    border-radius: 140px 140px 140px 140px;
    height: 120px;
    margin: 0;
    padding: 10px;
    width: 120px;
}
.homepage .top img{width:80px;height:80px; border-radius:100px;}
.homepage .top:hover{border:none;}
#users{margin-top:40px}
#uLogin img{cursor:pointer}
#loginForm {
    background: url(../images/login_box.png) no-repeat scroll 0 0 #F4F4F4;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.3);
    color: #464646;
    font-family: Raleway,Lato,Arial,sans-serif;
    margin: 60px auto 0;
    padding: 10px;
    position: relative;
    /*text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);*/
    width: 300px;
}
#loginForm h1{font-size:22px;padding-bottom:20px}
#loginForm input[type=text],#loginForm input[type=password]{width:94%;margin-bottom:15px;border:1px solid #B8D5E6;background:rgba(0,0,0,0.15);border-radius:2px;box-shadow:0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);font-family:Raleway,Lato,Arial,sans-serif;color:#fff;font-size:13px;padding:8px 4px 8px 10px; background:#fff; color:#464646;}
#loginForm input[type=text]:focus,#loginForm input[type=password]:focus,#loginForm input[type=submit]:focus{box-shadow:0 1px 0 rgba(250,105,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1), 0 0 0 3px rgba(250,105,0,0.15);outline:none}
.no-boxshadow #loginForm input[type=text]:focus,.no-boxshadow #loginForm input[type=password]:focus{outline:1px solid #FFF}
#loginForm input[type="submit"] {
    background: rgb(136,191,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(136,191,232,1) 0%, rgba(112,176,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,191,232,1)), color-stop(100%,rgba(112,176,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-9 */

    border: 1px solid #B8D5E6;
    border-radius: 5px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.4) inset, 0 2px 1px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    cursor: pointer;
    font-family: Raleway,Lato,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 5px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
}
#loginForm input[type=submit]:hover{box-shadow:inset 0 1px rgba(136,191,232,0.1), inset 0 20px 30px rgba(136,191,232,0.4)}
.no-boxshadow #loginForm input[type=submit]:hover{background:#594642}
#loginForm label{display:none;cursor:pointer;padding:0 0 5px 2px}
a:hover,#headernav li a:hover,#footer a:hover,#ask p a{color:#FA6900}
.mobile,.questionsList,.top .name,.homepage .top p{display:none}
.left,#logo,#miniProfileInfo{float:left}
#headercontent{width:960px;margin:0 auto}
#footercontent{width:730px;margin:0 auto}
.highlightRed,.unfollow:hover{color:red}
#ask input.button,#addcomment input.button{margin-top:16px;padding:4px 24px}
#ask p,#addcomment p{margin:10px 6px 13px 25px;}
#commentname,label{font-weight:700;margin-bottom:5px}
#addcomment label,.batchTools a,#changePasswordLink a,#deletePhotoLink{font-size:11px}
.askedBy,.question .meta{color:#999;font-size:11px;font-weight:400}
#questionInfo,#questionInfo:visited,.questionLink,.questionLink:visited{color:#999;font-size:11px;text-decoration:none}
#questionInfo a, a:visited {color:#0088CC; text-decoration:none;}
.removeCommentLink,.removeCommentLink:visited,.removeResponseLink,.removeResponseLink:visited{border-bottom:dotted 1px #999;color:#999;font-size:11px;text-decoration:none}
#search span,.questionRespondServices,#announcementServices,.serviceHeader span{color:#777;font-size:11px}
.questionTools ul,.serviceHeader h2{margin:0;padding:0}
.questionTools ul li:hover ul,.questionsList.selected,.no-placeholder #loginForm label{display:block}
#people,#themes{width:767px;margin:0 auto; padding-left:47px;}
.result:hover,.top:hover{opacity:0.9;}
.result .location,.top .location{color:grey;margin:0}
.questionRespondServices label,#announcementServices label{font-weight:400}
#facebox .loading,#facebox .image{text-align:center}
#loginForm input::-webkit-input-placeholder,#loginForm input:-moz-placeholder,#loginForm input:-ms-input-placeholder{color:#FFF;text-shadow:0 1px 0 rgba(255,255,255,0.15)}
#loginForm input[type=text]:hover,#loginForm input[type=password]:hover,#loginForm label:hover ~ input{border-color:#333}
.facefb {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 5px 5px 0 0;
    margin-left: 40px;
    padding: 9px 15px 5px 10px;
    position: absolute;
    top: -34px;
    width: 165px;
}

#followbutton   {color:#fff !important;}


#userbuttons a:visited { color:#464646; }
.like {display:block;width:30px;height:30px;background:url(../images/like.png) no-repeat;background-size:30px 30px;cursor:pointer;position:relative;margin:0 auto;margin-bottom:5px}
.liked {display:block;width:30px;height:30px;background:url(../images/likered.png) no-repeat;background-size:30px 30px;cursor:pointer;position:relative;margin:0 auto;margin-bottom:5px}
#likesbox span a {
    color: #0088CC;
    cursor: pointer;
    font-size: 11px;
}
#likesbox span a:hover {
    color: #00537d;
    
}
#mainquestion {float:left;width:85%}
#likesbox {margin-top:0;text-align:center;font-size:15px;color:#ccc;float:right;width:15%;position:relative}
#countlike .hoverlikes{margin-left:-999em;position:absolute;padding: 0.8em 1em;background: white; border: 1px solid #ccc}
#countlike .hoverlikes img{width:40px;height:40px;border-radius:40px}
#countlike:hover .hoverlikes{border-radius: 5px 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);position: absolute;right: 0em;top: -3em;z-index: 99;margin-left: 0;width: 100%;}

#countlike {background:url(../images/dziubek.png) no-repeat bottom center; width:43px; text-align:center; margin:0 auto 5px; height:28px; }

#profileInfo a, a:visited {color:#464646; text-decoration:none;}

a {outline:none;}

#userbuttons {height:125px;}

#eye {
    margin-left: 228px;
    padding: 10px;
    position: absolute;
    top: -43px;
}
#eyel {
    margin-left: 215px;
    padding: 10px;
    position: absolute;
    top: 81px;
}
#eyev {
    margin-left: 215px;
    padding: 10px;
    position: absolute;
    top: -50px;
}

#eye a, #eyel a, #eyev a{
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0;
    padding: 5px 10px;
}

.notifications{float:left !important; padding-left:20px; margin-top:5px !important;}
.notifications li{background-repeat:no-repeat;background-size:32px 32px;width:32px;height:32px;cursor:pointer}
.notifications li span{font-size:10px;color:white;background:red;margin:-10px 0 0 15px;padding:2px;border:solid 1px white;border-radius:5px}

.notifications li span {
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
     -moz-animation:    pulse 2s infinite;
     -ms-animation:     pulse 2s infinite;
     -o-animation:      pulse 2s infinite;
}

@keyframes pulse {
	0%   { opacity: 0.1; }
	100% { opacity: 1; }
}

@-webkit-keyframes pulse {
	0%   { opacity: 0.1; }
	50%   { opacity: 1; }
	100% { opacity: 0.1; }
}
@-moz-keyframes pulse {
	0%   { opacity: 0.1; -moz-transform: scale(0); }
	50%   { opacity: 1; -moz-transform: scale(0); }
	100% { opacity: 0.1; -moz-transform: scale(1); }
}
@-ms-keyframes pulse {
	0%   { opacity: 0.1; }
	50%   { opacity: 1; }
	100% { opacity: 0.1; }
}
@-o-keyframes pulse {
	0%   { opacity: 0.1; }
	50%   { opacity: 1; }
	100% { opacity: 0.1; }
}


.notifylikes{background-image:url(../images/heart.png); opacity:0.7;}
.notifyquestions{background-image:url(../images/question.png); opacity:0.7;}
.notifyanswers{background-image:url(../images/answer.png); opacity:0.7;}
#notifybox {
    background: none repeat scroll 0 0 padding-box rgba(255, 255, 255, 0.96);
    border:1px solid rgba(100, 100, 100, 0.4);
    color: black;
    display: none;
    margin-left: 130px;
    min-height: 50px;
    overflow: hidden;
    padding-top: 10px;
    position: absolute;
    top: 60px;
    min-width: 350px;
	max-width: 380px;
	border-radius:3px;
	box-shadow:0 3px 8px rgba(0, 0, 0, 0.25);
}
.notificationitem {
    /*background: none repeat scroll 0 0 #F4F4F4;*/
    border-bottom: 1px solid #E9E9E9;
    /*border-top: 1px solid #CCCCCC;*/
    display: block;
    /*height: 56px;*/
    line-height: 1.6em;
    /*margin-top: 5px;*/
    padding-top: 8px;
}
.notificationitem:hover {background:#f5f5f5;}

.notificationitem .notificationtext{padding-top:4px;display:block; font-size:11px; text-decoration:none;}
#stream{text-align:left}

.notificationitem  #questionavatar  {width:40px; height:40px;}
#top{position:relative;}
#profile .gift{position:absolute;}
#onlinepeople{/*background:none repeat scroll 0 0 #FFFFFF;*/border-radius:0 10px 10px 0;margin-left:740px;padding:15px;position:absolute;top:60px;max-width:160px;height:auto; color: #CCCCCC; font-size: 11px; font-weight: bold;}
#onlinepeople img {
    border: 2px solid #FFFFFF;
    height: 30px;
    margin: 3px;
    width: 30px;
}
#top .gift{width:85px;height:85px}
.sticker {
    height: 107px;
    position: absolute;
    right: -6px;
    top: -5px;
    width: 115px;
    z-index: 8889;
}
#gifts{padding:20px}
#gifts a{width:100px;height:100px;display:inline-block;margin:10px} 
.selectedgift {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 3px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}
.bigred{color:red;font-size:25px}

#gift {
    border-radius: 5px 5px 5px 5px;
    height: 22px;
    /*right: 20px;
	top: 250px;
	position: absolute;*/
    padding: 5px 7px 5px 5px;
	line-height:23px;
    float:right;
	margin-top: -40px;
    width: 100px;
	background: linear-gradient(to bottom, #96CC50 0%, #6CA81F 100%) repeat scroll 0 0 transparent;
    border: 1px solid #65942A !important;
    color: #FFFFFF;;
	text-shadow: 0 -1px 0 #4C9021;
}

#gift a, a:visited {text-decoration:none; font-weight:bold;}
.default {background:#292929;border:1px solid #111;border-radius:5px;overflow:hidden;box-shadow:0 0 5px #333;width:90%;margin:1% 5%}
#totalpoints p,#totalpoints a{color:white;position:absolute;left:110px;font-size:15px;text-shadow: 1px 1px #000;text-decoration:none;padding-top:3px;}
.default .levelone{/*blue*/background-color:#1a82f7;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0099FF), to(#1a82f7));background:-webkit-linear-gradient(top, #0099FF, #1a82f7);background:-moz-linear-gradient(top, #0099FF, #1a82f7);background:-ms-linear-gradient(top, #0099FF, #1a82f7);background:-o-linear-gradient(top, #0099FF, #1a82f7)}
.default .leveltwo {/*orange*/background-color:#f1a165;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));background-image:-webkit-linear-gradient(top, #f1a165, #f36d0a);background-image:-moz-linear-gradient(top, #f1a165, #f36d0a);background-image:-ms-linear-gradient(top, #f1a165, #f36d0a);background-image:-o-linear-gradient(top, #f1a165, #f36d0a)}
.default .levelthree {/*red*/background-color:#f0a3a3;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));background-image:-webkit-linear-gradient(top, #f0a3a3, #f42323);background-image:-moz-linear-gradient(top, #f0a3a3, #f42323);background-image:-ms-linear-gradient(top, #f0a3a3, #f42323);background-image:-o-linear-gradient(top, #f0a3a3, #f42323)}
.default .levelfour {/*green*/background-color:#a5df41;background-image:-webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));background-image:-webkit-linear-gradient(top, #a5df41, #4ca916);background-image:-moz-linear-gradient(top, #a5df41, #4ca916);background-image:-ms-linear-gradient(top, #a5df41, #4ca916);background-image:-o-linear-gradient(top, #a5df41, #4ca916);background-image:linear-gradient(top, #a5df41, #4ca916)}
.default .levelfive {/*gree*/background-color:#e1e1e1;background-image:linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);background-image:-o-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);background-image:-moz-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);background-image:-webkit-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%);background-image:-ms-linear-gradient(bottom, rgb(117,117,117) 16%, rgb(209,209,209) 61%)}
.questionanswer {
    background: url("../images/dziubek2.png") no-repeat scroll left 5px rgba(0, 0, 0, 0);
    float: left;
    width: 88%;
}
.questionthumb {float:left; width:11%;}

.streamadd { padding-bottom:10px; z-index:9999 !important;}

.answeradd {padding-left:90px; border-bottom: 1px solid #EEEEEE;}
.notificationslink{color:#0091A5;}
#allnotifications{text-align:left;padding:10px 20px}
#allnotifications a{text-decoration:none}

#allnotifications h3 {padding-top:15px; padding-bottom:15px;}

#allnotifications .notificationitem {line-height:1.8em;}

.getmoremotifications {
    color: #1CC4E7 !important;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    line-height: 2em;
    text-decoration: none;
}
#streambuttons{
	margin-left: 320px;
	padding: 10px;
	position: absolute;
	top: 71px;
	width: 400px;
}
#streambuttons a{width:120px; }
#streambuttons a:visited {color:none;}
#streambuttons a.abutton {border-radius: 5px 5px 0px 0px;color:#fff;}
#streambuttons a.abutton:hover {color:#000;}
#streambuttons a.abutton.red {background:red !important; border:1px solid red !important;}
#streambuttons a.abutton.green {background:green !important; border:1px solid green !important;}
#loading{position:absolute;z-index:999;display:none;width:700px;height:400px;background-color:white;color:black}
.photoUpload{float:left;overflow:hidden;width:32px;height:32px;cursor:pointer !important;background-image:url(../images/camera.png); background-size:32px 32px}
.photoUpload input {opacity:0;font-size:199px;cursor:pointer !important;padding:0px;margin:0px;border:none}
#videoUpload a{margin-left:10px;float:left;width:32px;height:32px;cursor:pointer !important;background-image:url(../images/movie.png); background-size:32px 32px}
.removebutton{margin-left:38px;cursor:pointer;display:inline-block;position:absolute;padding:1px 7px;background-color:red;color:white;font-weight:bold;font-size:1em;border-radius:30px;box-shadow: 1px 1px 1px gray}

.hashtag {
	color:#1cc4e7;
	font-weight:bold;
	text-decoration:none;
	}
#likespopup {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: auto;
    left: 50% !important;
    margin-left: -280px !important;
    margin-top: -250px !important;
    padding: 9px;
    position: fixed;
    top: 50% !important;
    width: 580px;
    z-index: 9999 !important;
}
.popuptop {
	height: 50px;
	/*background: url(../images/menu_bg.png);
	border-bottom: 2px solid #1cc4e7;*/
	background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f9f9 0%, #e9e9e9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f9f9 0%,#e9e9e9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f9f9 0%,#e9e9e9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f9f9 0%,#e9e9e9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */

	border-bottom:1px solid #BABABA;
	border-radius:4px 4px 0 0;
	box-shadow: 0 -1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.08);
	text-align:center;
	text-shadow: 0 1px 0 #FFFFFF;
	font-size:14px;
	font-weight:bold;
	line-height:44px;
}
.popupclose {
	float: right;
	margin-right: 15px;
	margin-top: 3px;
	font-size: 20px;
	color: #464646;
	cursor: pointer;
}

.popupclose a {color:#464646;}

.popuppeople {
	padding: 20px;
	border-bottom:1px solid #eee;
}
.popupimage, .popupinfo {
	float:left;
}
.popupimage, .popupimage img {
	width: 50px;
	height: 50px;
	border-radius:50px;
}
.popupinfo {	
	width: 340px;
	padding-left: 10px;
}
.popuppeople a {
	text-decoration:none
}
.popuphashtag {
	font-size: 16px;
	color:rgb(0, 139, 218);
}
.popupcontent {
	max-height: 400px;
	/*overflow-y: scroll;*/
	background:#fff;
	    overflow-x: hidden;
    overflow-y: auto;
}


#popular {
	position: relative;
}
#popular  a {
	text-decoration:none;

}
#popular #bordertext{
	margin: 20px 0;
	color:black !important;
}
.popularpeople {
	width:330px;
	height:auto;
	background-color:#fff;
	border:solid 1px #cdcdcd;
	border-radius:15px;
	margin:9px;
	padding:10px;
	float:left;
	text-align:left;
	text-decoration:none !important;
}
.ppquestion, .ppanswer {
	color:black !important;
}
.ppphoto{
	width:80px;
	height:80px;
	float:left;
	margin-right:10px;
	border-radius:5px;
}
.popularpeople #userbuttons {
	font-size: 11px;
	height: 80px;
}
.popularpeople #userbuttons a {
	width: 67px;
}
.ppcenter {
	border-bottom:solid 1px grey;
}
.ppanswer img {
	min-width:50px;
	max-width:100px;
	min-height:50px;
	max-height: 100px;
}
.ppanswer, .ppbottom {
	padding:10px 0;
}
.ppquestion {
	font-weight:600;
}
.ppbottom {
	height:41px;
}



#popular  a.userlink {
	color:#1CC4E7 !important;
	font-weight:bold;
}

.highslide-wrapper, .highslide-outline {
	background: #FFFFFF;
}
.highslide img {
	border: 1px solid #D0D0D0;
}
.highslide:hover img {
	border-color: #A0A0A0;
}
.highslide-dimming {
	background: #000000;
}
.highslide-image {
	border: 2px solid #FFFFFF;
}
.highslide-loading {
	color: black;
	border: 1px solid black;
	background-color: white;
	background-image: url(../graphics/loader.white.gif);
}
.userphotos, .uservideos {
	position:relative;
}
.galleryimage {
	width:200px;
	height:auto;
	background-color:#fff;
	border:solid 1px #cdcdcd;
	border-radius:15px;
	margin:9px;
	padding:10px;
	float:left;
	text-align:left;
	text-decoration:none !important;
}
.galleryimage  img {
	width:200px;
	height:200px;
}
#gallery {
	min-height:400px;
}
#gallery .removebutton {
	margin-left:0 !important;
	text-decoration:none;
}
.gallerytube {
	margin-top:25px;
	margin-bottom:25px;
}
.gallerytube iframe {
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
.blackpopup {
	padding: 0px;
	border: none;
	margin: 0px;
	visibility: visible;
	opacity: 0.7;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000000;
	z-index: 9999;
}
#pagination {
	height: 40px; 
	margin-top: 10px; 
}
#pagination a{
	text-decoration:none;
	font-size: 15px;
	padding: 5px;
	border-radius: 5px;
	background: #1CC4E7;
	display: inline-block;
	width: 10px;
	margin: 0px 5px;
}
.quesrespond {width: 595px; margin: 0px auto; background: none repeat scroll 0% 0% rgb(242, 242, 242); border-radius: 5px; padding: 10px;}

.questionRespondTools {margin-top:-70px; margin-left:405px;}

.tcpeople {margin:10px;background-color:#fff;border-bottom:solid 1px #ddd; padding:10px;text-align:left;text-decoration:none !important}
.tccounter, .tcimage, .tcinfo, .tcfoll {display:block;float:left;}
.tccounter{width:70px}
.tccounter h1 {
    color: #464646;
    font-size: 30px;
    margin-top: 20px;
    text-shadow: none;
}
.tcinfo{line-height:1;width:450px; color:#888;}
.tcinfo a{text-decoration:none;display:block;margin-top:5px; margin-bottom:10px; color:#1CC4E7;}
.tcinfo a:hover {color:#464646;}
.tcinfo a:visited {color:#1CC4E7;}
.tcinfo p{margin-bottom:7px}
.tcfoll {margin-top:15px;}

.topfollow  {

	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:27px;
	line-height:27px;
	width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
	cursor: pointer;;
}
.topfollow:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
	color:#fff;
}

.topfollow a:hover {color:#fff !important;}
.topunfollow a:hover {color:#fff !important;}
.topfollow a:visited {color:#fff !important;}
.topunfollow a:visited {color:#fff !important;}

.topunfollow{
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d12d22), color-stop(1, #ab1c0f) );
	background:-moz-linear-gradient( center top, #d12d22 5%, #ab1c0f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d12d22', endColorstr='#ab1c0f');
	background-color:#d12d22;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:28px;
	line-height:27px;
	width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
	cursor: pointer;
}
.topunfollow:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ab1c0f), color-stop(1, #d12d22) );
	background:-moz-linear-gradient( center top, #ab1c0f 5%, #d12d22 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab1c0f', endColorstr='#d12d22');
	background-color:#ab1c0f;
	color:#fff;
}
.topunfollow:active {
	position:relative;
	top:1px;}
	
.toptabs {
    background: none repeat scroll 0 0 #eee;
	border-bottom:1px solid #dedede;
	border-top:1px solid #dedede;
	text-decoration:none;
    float: left;
    height: 40px;
    line-height: 2.5em;
    margin-bottom: 35px;
    width: 246px;
	cursor:pointer;
	color:#444;
	font-weight:bold;
}

.stick {
	position:fixed;
	top:40px;
}

.onlineuserpage {
	width:70px;
	height:70px;
	padding:10px;
	border-radius:100px
}

#question0 {
    background: none repeat scroll 0 0 #F5F5F5;
    border-radius: 5px;
    margin-bottom: 10px !important;
    padding-bottom: 10px;
    padding-left: 15px;
}

#leftside {
	position: absolute;
	margin-left: -170px;
	width: 160px;
	    
}
#leftside p {
	margin-bottom:2px;
}

#leftsidetop {
	border-radius:10px;
	background-color: #f9f9f9;
	/*padding:15px 5px;*/
	color:#464646;
  font-size:12px;
  padding-bottom:5px;
      /*box-shadow: 0 1px 5px 1px #CCCCCC;*/
	  border:1px solid #f5f5f5;
}

#leftsidephoto {padding:10px;}
.editprofile {border-radius:10px 10px 0px 0; text-align:center; height: 145px;   
    background-image: -moz-linear-gradient(center top , #F9F9F9, #E9E9E9);
    border-bottom: 1px solid #e5e5e5;
  background-image:-webkit-linear-gradient(top, #F9F9F9, #E9E9E9);

}

#leftsidephoto img {
    border: 4px solid #FFFFFF;
    border-radius: 90px;
    float: left;
    height: 90px;
    margin: 0 18px 5px;
    width: 90px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

#leftsidetop a {text-decoration:none; font-size:11px; color:#96CC50;}


.leftsidelink {
	margin:5px 15px;
}

.leftsidelink a {
	text-decoration:none;
	color:#1CC4E7 !important;
	font-weight:bold;
	font-size:12px;
}

a.username {font-weight:bold; color:#464646 !important; font-size:12px !important;}

.leftsidelink a:hover {
	text-decoration:none;
}
	
.leftsidefriends {
	
	height: 30px;
	line-height: 2.5em;
	margin-bottom: 10px;
	width: 160px;
	color: #fff;
	font-weight: bold;
	text-align: left;
	text-shadow:1px 0 #000;
}

.leftsideonlinefriends {
	margin-bottom:10px
}

.leftsideonlinefriends img{
	width:30px;
	height:30px;
	margin:4px;
	border: solid 1px grey;
}

.newbutton {
background-color:#eee;
  font-weight:bold;
  background-repeat:repeat no-repeat;
  border:1px solid #CECECE;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  color:#313131;
  cursor:pointer;
  margin:0 auto;
  padding-bottom:5px;
  padding-top:5px;
  text-align:center;
  /*width:300px;*/
}

.homepage#wrapper #content {
    background:none; 
    width:1000px; 
    box-shadow:none; 
    margin-top:0px; 
    padding-top:50px; 
    min-height:600px; 
    margin-bottom:0px;
}