<html>
	<head></head>
	<body>
		<p style="width: 100%; text-align: left; background: #0187bb">&nbsp;&nbsp;<img src="http://www.myask.co/images/logo.png" alt="myask.co"></p>
		<p>myask.co - Wysyłaj i odbieraj anonimowe pytania aby dowiedzieć się, co inni myślą o Tobie!</p>
		<hr>
		<b>Witaj,</b>
		<p>Otrzymałeś nowe pytanie na myask.co. Możesz odpowiedzieć na nie klikając w: <a href="http://www.myask.co/inbox">link</a>.</p>
		<p><b>Pozdrawiamy,</b></p>
		<p><b><a href="http://www.myask.co">myask.co</a></b></p>
	</body>
</html>