<html>
	<head></head>
	<body>
		<p style="width: 100%; text-align: left; background: #0187bb">&nbsp;&nbsp;<img src="http://askme.pro/images/logo.png" alt="askme.pro"></p>
		<p>askme.pro - Wysyłaj i odbieraj anonimowe pytania aby dowiedzieć się, co inni myślą o Tobie!</p>
		<hr>
		<b>Witaj,</b>
		<p>Otrzymałeś nowe pytanie na askme.pro. Możesz odpowiedzieć na nie klikając w: <a href="http://askme.pro/inbox">link</a>.</p>
		<p><b>Pozdrawiamy,</b></p>
		<p><b><a href="http://askme.pro">askme.pro</a></b></p>
	</body>
</html>